<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'contact'">
      <div class="bg-primary-3 text-white p-0" data-overlay>
        <img src="/assets/img/heros/hero-1.jpg" alt="Image" class="bg-image opacity-60">
        <section class="pb-0">
          <div class="container pb-5">
            <div class="row justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">We’re here to help</h1>
                <p class="lead mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>

              </div>
            </div>
          </div>
          <div class="divider divider-bottom"></div>
        </section>
      </div>
      <section class="pb-0">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Get in touch</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
              <form data-form-email novalidate action="/forms/smtp.php">
                <div class="form-row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-name">Your Name</label>
                      <input type="text" name="contact-name" class="form-control" id="contact-name" required>
                      <div class="invalid-feedback">
                        Please type your name.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-email">Email Address</label>
                      <input type="email" name="contact-email" class="form-control" id="contact-email" placeholder="you@website.com" required>
                      <div class="invalid-feedback">
                        Please provide your email address.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-company">Company (optional)</label>
                      <input type="text" name="contact-company" class="form-control" id="contact-company">
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-phone">Phone (optional)</label>
                      <input type="tel" name="contact-phone" class="form-control" id="contact-phone">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contact-message">Message</label>
                  <textarea id="contact-message" name="contact-message" rows="10" class="form-control" required></textarea>
                  <div class="invalid-feedback">
                    Please tell us a little more.
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="d-none alert alert-success" role="alert" data-success-message>
                      Thanks, a member of our team will be in touch shortly.
                    </div>
                    <div class="d-none alert alert-danger" role="alert" data-error-message>
                      Please fill all fields correctly.
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">
                        <!-- Icon for loading animation -->
                        <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>Icon For Loading</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g>
                              <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                            </g>
                            <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                            fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                          </g>
                        </svg>
                        <span>Send Message</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-auto" data-aos="fade-up">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Email us</h5>
                <a href="#" class="lead">hello@jumpstart.io</a>
              </div>
            </div>
            <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Drop in</h5>
                <address>
                  <p>443 Park Avenue South,</p>
                  <p>Kips Bay</p>
                  <p>New York City</p>

                </address>
                <a href="#">Get Directions</a>
              </div>
            </div>
            <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Call any time</h5>
                <a href="#" class="lead">1800 488 328</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="divider divider-bottom bg-primary-3"></div>

    </template>
    <template v-else-if="view === 'contact-map'">
      <section class="row no-gutters p-0 border-top border-bottom">
        <div class="col-lg-6">
          <section>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col col-md-10 col-xl-9 text-center text-lg-left">
                  <h1 class="display-3">Contact Us</h1>
                  <address class="lead mb-5">
                    <p>443 Park Avenue South,</p>
                    <p>Kips Bay</p>
                    <p>New York City</p>

                  </address>
                  <div class="d-flex flex-column justify-content-center justify-content-lg-start">
                    <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                      <h5>Email us</h5>
                      <a href="#" class="lead">hello@jumpstart.io</a>
                    </div>
                    <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                      <h5>Call any time</h5>
                      <a href="#" class="lead">1800 488 328</a>
                    </div>
                    <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                      <h5>Get in touch</h5>
                      <a href="#" class="lead">Leave a message</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-lg-6">
          <div class="divider divider-side d-none d-lg-block transform-flip-y"></div>
          <div class="min-vh-30 h-100 w-100" data-marker-image="assets/img/icons/theme/map/marker-2.svg" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="443 Park Avenue South,

  Kips Bay

  New York City
  " data-map-zoom="14">
            <div class="map-marker" data-address="443 Park Avenue South,

  Kips Bay

  New York City
  ">
              <div class="info-window" data-max-width="400">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h5>Info windows in Jumpstart</h5>
                    </div>
                    <div class="col-4">
                      <img alt="Jumpstart Logo" class="w-100" src="/assets/img/logos/jumpstart.svg">
                    </div>
                    <div class="col-8 pb-2">
                      <p>
                        We've made info windows easy in Jumpstart, so you can use any HTML in this infowindow on your map.
                      </p>
                      <h6 class="mb-0">Address</h6>
                      <address>
                        443 Park Avenue South, Kips Bay New York City

                      </address>
                      <a target="_blank" href="#">... More Info</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light pb-0">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Get in touch</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
              <form data-form-email novalidate action="/forms/smtp.php">
                <div class="form-row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-name">Your Name</label>
                      <input type="text" name="contact-name" class="form-control" id="contact-name" required>
                      <div class="invalid-feedback">
                        Please type your name.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-email">Email Address</label>
                      <input type="email" name="contact-email" class="form-control" id="contact-email" placeholder="you@website.com" required>
                      <div class="invalid-feedback">
                        Please provide your email address.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-company">Company (optional)</label>
                      <input type="text" name="contact-company" class="form-control" id="contact-company">
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label for="contact-phone">Phone (optional)</label>
                      <input type="tel" name="contact-phone" class="form-control" id="contact-phone">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contact-message">Message</label>
                  <textarea id="contact-message" name="contact-message" rows="10" class="form-control" required></textarea>
                  <div class="invalid-feedback">
                    Please tell us a little more.
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="d-none alert alert-success" role="alert" data-success-message>
                      Thanks, a member of our team will be in touch shortly.
                    </div>
                    <div class="d-none alert alert-danger" role="alert" data-error-message>
                      Please fill all fields correctly.
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">
                        <!-- Icon for loading animation -->
                        <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>Icon For Loading</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g>
                              <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                            </g>
                            <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                            fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                          </g>
                        </svg>
                        <span>Send Message</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>
    </template>
    <template v-else>
      <div class="bg-gradient p-0 o-hidden" data-overlay>
        <section class="pb-0">
          <div class="container">
            <div class="text-white">
              <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                  <h1 class="display-3">We’re here to help</h1>
                  <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9 col-md-11">
                <form class="card card-body shadow" data-form-email novalidate action="/forms/smtp.php">
                  <div class="form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-name">Name</label>
                        <input type="text" name="contact-name" class="form-control" id="planner-name" required>
                        <div class="invalid-feedback">
                          Please type your name.
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-email">Email Address</label>
                        <input type="email" name="contact-email" class="form-control" id="planner-email" placeholder="you@website.com" required>
                        <div class="invalid-feedback">
                          Please provide your email address.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-phone">Phone (optional)</label>
                        <input type="tel" name="contact-phone" class="form-control" id="planner-phone" required>
                        <div class="invalid-feedback">
                          Please provide your phone number.
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-industry">Industry</label>
                        <div class="position-relative">
                          <select name="select-industry" class="custom-select" id="planner-industry" required>
                            <option selected value="">Select an option</option>
                            <option value="Telecommunications">Telecommunications</option>
                            <option value="Energy">Energy</option>
                            <option value="Government">Government</option>
                            <option value="Web Services">Web Services</option>
                            <option value="Education">Education</option>
                          </select>
                          <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                          <div class="invalid-feedback">
                            Please select an industry.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-company">Company Name</label>
                        <input type="text" name="company" class="form-control" id="planner-company" required>
                        <div class="invalid-feedback">
                          Please provide your company name.
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="planner-company-size">Company Size</label>
                        <div class="position-relative">
                          <select name="select-company-size" class="custom-select" id="planner-company-size" required>
                            <option selected value="">Select an option</option>
                            <option value="1-50">1-50</option>
                            <option value="50-500">50-500</option>
                            <option value="500+">500+</option>
                          </select>
                          <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                          <div class="invalid-feedback">
                            Please select your company size.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="planner-message">How can we help?</label>
                    <textarea name="message" id="planner-message" rows="10" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                      Please tell us a bit more about your requirements.
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-wrap flex-md-row justify-content-between align-items-center">
                    <div class="custom-control custom-checkbox mb-3 mb-md-0">
                      <input type="checkbox" class="custom-control-input" id="planner-agree" required>
                      <label class="custom-control-label" for="planner-agree">I agree to the <a target="_blank" href="utility-legal-terms.html">Terms &amp; Conditions</a>
                      </label>
                      <div class="invalid-feedback">
                        You must agree to the Terms and Conditions.
                      </div>
                    </div>
                    <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
                      Thanks, a member of our team will be in touch shortly.
                    </div>
                    <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>
                      Please fill all fields correctly.
                    </div>
                    <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                    <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">
                      <!-- Icon for loading animation -->
                      <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Icon For Loading</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g>
                            <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                          </g>
                          <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                          fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                        </g>
                      </svg>
                      <span>Send Message</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="divider divider-bottom bg-white"></div>
        </section>
      </div>
      <section>
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-auto" data-aos="fade-up">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Email us</h5>
                <a href="#" class="lead">hello@jumpstart.io</a>
              </div>
            </div>
            <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Drop in</h5>
                <address>
                  <p>443 Park Avenue South,</p>
                  <p>Kips Bay</p>
                  <p>New York City</p>

                </address>
                <a href="#">Get Directions</a>
              </div>
            </div>
            <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">
              <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
                <h5>Call any time</h5>
                <a href="#" class="lead">1800 488 328</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'contact'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
