<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'case-studies'">
      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                <a href="#" class="d-block position-relative bg-gradient col-xl-6 order-lg-2">
                  <div class="divider divider-side transform-flip-y d-none d-lg-block"></div>
                  <img class="card-img-top flex-fill hover-fade-out" src="/assets/img/case-studies/thumb-1.jpg" alt="Image accompanying Amara testimonial">
                  <div class="badge badge-light badge-pill">
                    <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" class="icon icon-sm m-1 m-lg-2">
                  </div>
                </a>
                <div class="p-4 p-md-5 col-xl">
                  <div class="p-lg-4 p-xl-5">
                    <h1>&ldquo;We are working at almost twice the capacity&rdquo;</h1>
                    <p class="lead">
                      Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                    </p>
                    <a href="#" class="lead stretched-link">Read Story</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mt-lg-5">
            <div class="col-lg-6 my-3 my-lg-0">
              <div class="row flex-column flex-sm-row align-items-center">
                <a class="col-sm-5 mb-4 mb-sm-0" href="#">
                  <img class="rounded img-fluid hover-fade-out" src="/assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
                </a>
                <div class="col">
                  <div class="mb-4">
                    <img src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="icon icon-sm">
                  </div>
                  <div>
                    <a class="h4" href="#">&ldquo;Jumpstart increases productivity.&rdquo;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 my-3 my-lg-0">
              <div class="row flex-column flex-sm-row align-items-center">
                <a class="col-sm-5 mb-4 mb-sm-0" href="#">
                  <img class="rounded img-fluid hover-fade-out" src="/assets/img/case-studies/thumb-9.jpg" alt="Image accompanying Kanba testimonial">
                </a>
                <div class="col">
                  <div class="mb-4">
                    <img src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="icon icon-sm">
                  </div>
                  <div>
                    <a class="h4" href="#">&ldquo;Long build times are a thing of the past!&rdquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-0">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/treva.svg" alt="Treva company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Treva</h3>
                  <p>
                    Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-6.jpg" alt="Image accompanying Ztos testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Ztos</h3>
                  <p>
                    Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-7.jpg" alt="Image accompanying Utosia testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/utosia.svg" alt="Utosia company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Utosia</h3>
                  <p>
                    Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-8.jpg" alt="Image accompanying Asgardia testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Ztos</h3>
                  <p>
                    Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-3.jpg" alt="Image accompanying Kyan testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/kyan.svg" alt="Kyan company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Kyan</h3>
                  <p>
                    Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-gradient rounded-top position-relative">
                  <img class="card-img-top hover-fade-out" src="/assets/img/case-studies/thumb-10.jpg" alt="Image accompanying Fox Hub testimonial">
                  <div class="badge badge-light">
                    <img src="/assets/img/logos/brand/goldline.svg" alt="Goldline company logo" class="icon icon-sm m-lg-1">
                  </div>
                </div>
                <div class="card-body">
                  <h3>Goldline</h3>
                  <p>
                    Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-0">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Jumpstart your launch</h3>
              <div class="lead">Save hours on design and development and launch faster.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center mt-md-n4">
            <div class="col-auto">
              <a href="#" class="btn btn-primary btn-lg">Buy Jumpstart</a>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-primary-3 mt-5"></div>
      </section>

    </template>
    <template v-else>
      <section class="p-0 border-top border-bottom bg-light row no-gutters">
        <div class="col-lg-5 col-xl-6 order-lg-2">
          <div class="divider divider-side transform-flip-y bg-light d-none d-lg-block"></div>
          <img class="flex-fill" src="/assets/img/case-studies/large-1.jpg" alt="blog.1.image">
        </div>
        <div class="col-lg-7 col-xl-6">
          <div class="container min-vh-lg-70 min-vh-xl-80 d-flex align-items-center">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-xl-9 py-4 py-sm-5">
                <div class="my-4 my-md-5 my-lg-0 my-xl-5">
                  <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo">
                  <h1 class="display-4 mt-4 mt-lg-5">
                &ldquo;We are working at almost twice the capacity&rdquo;
              </h1>
                  <p class="lead">
                    Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-start justify-content-around">
            <div class="col-md-9 col-lg col-xl-4 sticky-lg-top mb-5 mb-lg-0">
              <ul class="list-group pr-xl-4">
                <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                  <h6 class="mb-0">Company</h6>
                  <div>Slack</div>
                </li>
                <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                  <h6 class="mb-0">Location</h6>
                  <div>California</div>
                </li>
                <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                  <h6 class="mb-0">Industry</h6>
                  <div>SaaS, Productivity</div>
                </li>
                <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                  <h6 class="mb-0">Size</h6>
                  <div>250+</div>
                </li>
                <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                  <h6 class="mb-0">Webite</h6>
                  <div><a href="#">https://slack.com/</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-9">
              <article class="article">
                <h3 class="h2">Intro to article</h3>
                <p>
                  Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                </p>
                <p>
                  Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                  est nec diam suscipit iaculis.
                  <mark data-aos="highlight-text" data-aos-delay="250">Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.</mark>Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <p>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <h5>Let’s talk subheadings</h5>
                <p>
                  Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <ul>
                  <li>
                    Vivamus convallis mi sagittis eleifend laoreet.
                  </li>
                  <li>
                    Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                  </li>
                  <li>
                    Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.
                  </li>
                </ul>
                <blockquote class="blockquote">
          “Here’s an insightful quote from the article that is worth isolating for emphasis.”
      </blockquote>
                <p>
                  Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                  est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <figure>
                  <img src="/assets/img/blog/thumb-4.jpg" alt="Blog Figure" class="img-fluid rounded">
                  <figcaption>Here’s a great little figure caption.</figcaption>
                </figure>
                <p>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <p>
                  Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                </p>
                <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
  &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
                <p>
                  Gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est
                  nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <h5>Now to summarize</h5>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                  animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                </p>
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p>
                <ol>
                  <li>
                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
                  </li>
                  <li>
                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.
                  </li>
                  <li>
                    Et iusto odio dignissimos ducimus qui blanditiis
                  </li>
                </ol>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="h1">Happy teams use Jumpstart</h3>

            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                <a href="#" class="d-block position-relative bg-gradient col-xl-6 order-lg-2">
                  <div class="divider divider-side transform-flip-y d-none d-lg-block"></div>
                  <img class="card-img-top flex-fill hover-fade-out" src="/assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
                  <div class="badge badge-light badge-pill">
                    <img src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="icon icon-sm m-1 m-lg-2">
                  </div>
                </a>
                <div class="p-4 p-md-5 col-xl">
                  <div class="p-lg-4 p-xl-5">
                    <h1>&ldquo;Jumpstart increases productivity.&rdquo;</h1>
                    <p class="lead">
                      Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                    </p>
                    <a href="#" class="lead stretched-link">Read Story</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-0">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Jumpstart your launch</h3>
              <div class="lead">Save hours on design and development and launch faster.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center mt-md-n4">
            <div class="col-auto">
              <a href="#" class="btn btn-primary btn-lg">Buy Jumpstart</a>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-primary-3 mt-5"></div>
      </section>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'case-studies'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
