<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <div class="loader">
      <div class="loading-animation"></div>
    </div>
    {{ APP }}
    <script>
      window.addEventListener('load',function(){document.querySelector('body').classList.add('loaded');});
    </script>
  </body>
</html>