<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'account-settings'">
      <section class="pb-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col d-flex align-items-center">
              <div class="d-inline-block p-3 p-md-4 rounded-circle bg-primary-alt">
                <img src="/assets/img/icons/theme/general/settings-1.svg" alt="Confirmation Icon" class="icon bg-primary" data-inject-svg="data-inject-svg">
              </div>
              <div class="ml-4">
                <h1 class="mb-2">Account Settings</h1>
                <div class="lead">Manage your profile, billing, and notification preferences.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col">
              <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">Billing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="bg-light tab-content pt-5">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
          <div class="container">
            <div class="row mb-4 mb-lg-5">
              <div class="col">
                <div class="d-flex align-items-md-center">
                  <img src="/assets/img/avatars/male-3.jpg" alt="Avatar" class="avatar avatar-lg flex-shrink-0">
                  <div class="ml-4">
                    <button class="btn btn-sm btn-primary">Upload Avatar</button>
                    <div class="text-small mt-3">For best results, use an image at least 256px by 256px in either .jpg or .png format</div>
                  </div>
                </div>
                <hr class="mt-lg-5">
              </div>
            </div>
            <div class="row mb-4 mb-md-5 align-items-start">
              <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                <div class="alert alert-primary">Your information is always kept encrypted and can never be accessed by third parties.
                  <a href="#">View our Privacy Policy</a>
                </div>
              </div>
              <div class="col-lg-8 border-lg-right pr-lg-5">
                <div class="row mb-lg-5">
                  <div class="col">
                    <h3>Account Details</h3>
                  </div>
                </div>
                <form>
                  <div class="row form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" value="Andrew">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" value="Smith">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control">
                    <small>This will be displayed on your public profile</small>
                  </div>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control">
                    <small>Used to log in to your account</small>
                  </div>
                  <button class="btn btn-primary" disabled="disabled" type="submit">Save changes</button>
                </form>
              </div>
            </div>
            <hr class="mb-4 mb-md-5">
            <div class="row mb-4 mb-md-5 align-items-start">
              <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                <div class="alert alert-primary">Some of this information will appear on your public profile. A detailed public profile helps users with similar professional interests and location to connect with you.
                  <a href="#">View your Public Profile</a>
                </div>
              </div>
              <div class="col-lg-8 border-lg-right pr-lg-5">
                <div class="row mb-lg-5">
                  <div class="col">
                    <h3>Profile Information</h3>
                  </div>
                </div>
                <form>
                  <div class="row form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" value="Melbourne">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" value="Australia">
                      </div>
                    </div>
                  </div>
                  <div class="row form-row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input type="text" id="birthday" class="form-control" data-flatpickr="data-flatpickr" data-alt-input="true" placeholder="Select a date">
                        <small>This will never be made public</small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="country">Website</label>
                        <input type="url" class="form-control" id="website">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username">Twitter Handle</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input class="form-control" placeholder="Username" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bio">Profile Text</label>
                    <textarea id="bio" rows="6" class="form-control"></textarea>
                  </div>
                  <button class="btn btn-primary" disabled="disabled" type="submit">Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
          <div class="container">
            <div class="row justify-content-between align-items-center mb-4 mb-md-5">
              <div class="col-auto">
                <h3 class="mb-sm-0">Payment Methods</h3>
              </div>
              <div class="col-auto">
                <button class="btn btn-success btn-sm">Add Payment Method</button>
              </div>
            </div>
          </div>
          <form class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-4 mb-3 mb-md-4">
                <div class="border rounded bg-white px-4 pb-4 pt-2">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <img src="/assets/img/logos/payment/mastercard.svg" alt="Mastercard">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-primary rounded-circle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/img/icons/interface/icon-more-horizontal.svg" alt="More" class="icon bg-white" data-inject-svg="data-inject-svg">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-end">
                    <div>
                      <div class="h6 mb-2">•••• •••• •••• 3928</div>
                      <div class="text-muted">Jonathan Wilson</div>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-1" name="radio" class="custom-control-input" checked>
                      <label class="custom-control-label" for="radio-1"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-3 mb-md-4">
                <div class="border rounded bg-white px-4 pb-4 pt-2">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <img src="/assets/img/logos/payment/visa.svg" alt="Via">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-primary rounded-circle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/img/icons/interface/icon-more-horizontal.svg" alt="More" class="icon bg-white" data-inject-svg="data-inject-svg">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-end">
                    <div>
                      <div class="h6 mb-2">•••• •••• •••• 9921</div>
                      <div class="text-muted">Jonathan Wilson</div>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-2" name="radio" class="custom-control-input">
                      <label class="custom-control-label" for="radio-2"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-3 mb-md-4">
                <div class="border rounded bg-white px-4 pb-4 pt-2">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <img src="/assets/img/logos/payment/paypal.svg" alt="Paypal">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-primary rounded-circle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/img/icons/interface/icon-more-horizontal.svg" alt="More" class="icon bg-white" data-inject-svg="data-inject-svg">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-end">
                    <div>
                      <div class="h6 mb-2">jwilson@jumpstart.com</div>
                      <div class="text-muted">Jonathan Wilson</div>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-3" name="radio" class="custom-control-input">
                      <label class="custom-control-label" for="radio-3"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
          <div class="container">
            <div class="row mb-4 mb-md-5">
              <div class="col-auto">
                <h3>Preferences</h3>
                <div>When would you like to receive notification emails?</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <form>
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="switch-1" checked>
                    <label class="custom-control-label" for="switch-1">When someone mentions me</label>
                  </div>
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="switch-2">
                    <label class="custom-control-label" for="switch-2">When someone follows me</label>
                  </div>
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="switch-3">
                    <label class="custom-control-label" for="switch-3">When shares my activirty</label>
                  </div>
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="switch-4" checked>
                    <label class="custom-control-label" for="switch-4">When someone messages me</label>
                  </div>
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="switch-5">
                    <label class="custom-control-label" for="switch-5">There is a sale or promotion</label>
                  </div>
                  <div class="mt-4 mt-md-5">
                    <button class="btn btn-sm btn-primary" disabled type="submit">Save Preferences</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <template v-else-if="view === 'account-invoice'">
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <div class="card card-body shadow-lg">
                <div class="d-flex justify-content-between align-items-start pb-4 pb-md-5 mb-4 mb-md-5 border-bottom">
                  <div>
                    <h6>Jumpstart Inc.</h6>
                    <address>
                      <p>443 Park Avenue South,</p>
                      <p>Kips Bay</p>
                      <p>New York City</p>

                    </address>
                    <a href="#">hello@jumpstart.io</a>
                  </div>
                  <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart Logo">
                </div>
                <div class="mb-4">
                  <h1>Tax Invoice <span class="badge badge-success">PAID</span></h1>
                </div>
                <div class="row justify-content-between mb-4 mb-md-5">
                  <div class="col-sm">
                    <h6>Invoice to:</h6>
                    <div>
                      <div>Larry Billings</div>
                      <div>Some Company</div>
                      <address>
                        382 Harrington Road,
                        <br />Paramatta NSW 3928
                      </address>
                    </div>
                  </div>
                  <div class="col-sm col-lg-4">
                    <dl class="row text-sm-right">
                      <dt class="col-6"><strong>Invoice No.</strong>
                      </dt>
                      <dd class="col-6">482263</dd>
                      <dt class="col-6"><strong>Date Issued:</strong>
                      </dt>
                      <dd class="col-6">31/05/2019</dd>
                      <dt class="col-6"><strong>Date Due:</strong>
                      </dt>
                      <dd class="col-6">30/06/2019</dd>
                      <dt class="col-6"><strong>Terms</strong>
                      </dt>
                      <dd class="col-6">Net 30</dd>
                    </dl>
                  </div>
                </div>
                <div>
                  <table class="table mb-0 text-right">
                    <thead class="bg-light border-top">
                      <tr>
                        <th scope="col" class="border-0 text-left">
                          Item
                        </th>
                        <th scope="col" class="border-0">
                          Quantity
                        </th>
                        <th scope="col" class="border-0">
                          Rate
                        </th>
                        <th scope="col" class="border-0">
                          Total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="text-left">
                          Monthly subscription
                        </th>
                        <td>
                          1
                        </td>
                        <td>
                          39.00
                        </td>
                        <td>
                          39.00
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-left">
                          Additional Service (per hour)
                        </th>
                        <td>
                          4
                        </td>
                        <td>
                          59.00
                        </td>
                        <td>
                          236.00
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-left">
                          Parts for service
                        </th>
                        <td>
                          1
                        </td>
                        <td>
                          159.00
                        </td>
                        <td>
                          159.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end text-right mb-4 py-4 border-bottom">
                    <div>
                      <div>Balance due:</div>
                      <div class="h4 mb-0 mt-2">USD $434.00</div>
                    </div>
                  </div>
                  <div class="text-small">
                    <div>Payments to:</div>
                    <div><strong>payment@jumpstart.io</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <template v-else-if="view === 'account-sign-up-cover'">
      <section class="row no-gutters p-0 bg-light min-vh-100">
        <div class="col-lg-6 d-none d-lg-block order-lg-2">
          <img class="flex-fill" src="/assets/img/sign-up.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
          <section class="p-0 bg-gradient text-white">
            <div class="container min-vh-lg-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
              <a href="index.html" class="fade-page">
                <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" data-inject-svg class="bg-white">
              </a>
              <div class="row justify-content-center my-5">
                <div class="col-xl-7 col-lg-8">
                  <h1 class="h2 text-center mb-lg-5">Create Account</h1>
                  <div class="card card-body shadow text-left text-dark">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                        <small>Password must be at least 8 characters</small>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="sign-up-password-confirm" placeholder="Confirm Password">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox text-small">
                          <input type="checkbox" class="custom-control-input" id="sign-up-agree">
                          <label class="custom-control-label" for="sign-up-agree">I agree to the <a target="_blank" href="utility-legal-terms.html">Terms &amp; Conditions</a>
                          </label>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                    </form>
                  </div>
                  <div class="text-center text-small mt-3">
                    Already have an account? <a class="text-white" href="account-sign-in-cover.html">Sign in here</a>
                  </div>
                </div>
              </div>
              <div>
                <a href="index.html" class="btn btn-sm btn-light fade-page">Back to Overview</a>
              </div>
            </div>
          </section>
        </div>
      </section>

    </template>
    <template v-else-if="view === 'account-sign-in-cover'">
      <section class="row no-gutters p-0 bg-light min-vh-100">
        <div class="col-lg-6 d-none d-lg-block order-lg-2">
          <img class="flex-fill" src="/assets/img/sign-up.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
          <section class="p-0 bg-gradient text-white">
            <div class="container min-vh-lg-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
              <a href="index.html" class="fade-page">
                <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" data-inject-svg class="bg-white">
              </a>
              <div class="row justify-content-center my-5">
                <div class="col-xl-7 col-lg-8">
                  <h1 class="h2 text-center mb-lg-5">Sign In</h1>
                  <div class="card card-body shadow text-left text-dark">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                        <div class="text-right text-small mt-2">
                          <a href="account-forgot-password.html">Forgot Password?</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox text-small">
                          <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                          <label class="custom-control-label" for="sign-in-remember">Remember me next time</label>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                    </form>
                  </div>
                  <div class="text-center text-small mt-3">
                    Don't have an account? <a class="text-white" href="account-sign-up-cover.html">Sign up here</a>
                  </div>
                </div>
              </div>
              <div>
                <a href="index.html" class="btn btn-sm btn-light fade-page">Back to Overview</a>
              </div>
            </div>
          </section>
        </div>
      </section>

    </template>
    <template v-else-if="view === 'account-sign-up-simple'">
      <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
        <section class="py-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
                <div class="card card-body shadow">
                  <h1 class="h5 text-center">Create Account</h1>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                      <small>Password must be at least 8 characters</small>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="sign-up-password-confirm" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox text-small">
                        <input type="checkbox" class="custom-control-input" id="sign-up-agree">
                        <label class="custom-control-label" for="sign-up-agree">I agree to the <a target="_blank" href="utility-legal-terms.html">Terms &amp; Conditions</a>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                  </form>
                </div>
                <div class="text-center text-small mt-3">
                  Already have an account? <a href="account-sign-in-simple.html">Sign in here</a>
                </div>
              </div>
              <div class="col-md-6 col-lg-auto ml-lg-5 ">
                <div class="mb-5">
                  <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="100">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                      <img src="/assets/img/avatars/male-4.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                      <div class="text-dark mb-0">&ldquo;We are working at almost twice the capacity&rdquo;</div>
                    </div>
                  </div>
                  <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="200">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                      <img src="/assets/img/avatars/male-1.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                      <div class="text-dark mb-0">&ldquo;Jumpstart increases productivity.&rdquo;</div>
                    </div>
                  </div>
                </div>
                <div>
                  <h2>All plans include:</h2>
                  <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle bg-success-alt">
                        <img src="/assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                      </div>
                      <h6 class="mb-0 ml-3">Fully Responsive</h6>
                    </div>
                  </div>
                  <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle bg-success-alt">
                        <img src="/assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                      </div>
                      <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                    </div>
                  </div>
                  <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle bg-success-alt">
                        <img src="/assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                      </div>
                      <h6 class="mb-0 ml-3">Modular Components</h6>
                    </div>
                  </div>
                  <div class="mb-3" data-aos="fade-left" data-aos-delay="600">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle bg-success-alt">
                        <img src="/assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                      </div>
                      <h6 class="mb-0 ml-3">Suits Your Style</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </template>
    <template v-else-if="view === 'account-sign-in-simple'">
      <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
        <section class="py-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="card card-body shadow">
                  <h1 class="h5 text-center">Sign In</h1>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                      <div class="text-right text-small mt-2">
                        <a href="account-forgot-password.html">Forgot Password?</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox text-small">
                        <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                        <label class="custom-control-label" for="sign-in-remember">Remember me next time</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                  </form>
                </div>
                <div class="text-center text-small mt-3">
                  Don't have an account? <a href="account-sign-up-simple.html">Sign up here</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </template>
    <template v-else>
      <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
        <section class="py-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="card card-body shadow">
                  <h1 class="h5 text-center">Reset Password</h1>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Send Reset Link</button>
                  </form>
                </div>
                <div class="text-center text-small mt-3">
                  Remembered your password? <a href="account-sign-in-simple.html">Sign in here</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'account-settings'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
