<template>
  <div>
    <template v-if="view === 'utility-coming-soon-subscribe'">
      <section class="bg-gradient text-white p-0 o-hidden">
        <div class="container min-vh-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
          <a href="index.html" class="fade-page">
            <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" class="bg-white" data-inject-svg>
          </a>
          <div class="my-5">
            <div class="row section-title justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">Stay tuned for our product launch</h1>
                <div class="lead">Subscribe using the form below nd we will alert you as soon as we launch.</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8 col-md-9">
                <form data-form-email novalidate action="/forms/mailchimp.php">
                  <div class="d-flex flex-column flex-sm-row form-group">
                    <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>
                    <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">
                      <!-- Icon for loading animation -->
                      <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Icon For Loading</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g>
                            <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                          </g>
                          <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                          fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                        </g>
                      </svg>
                      <span>Subscribe</span>
                    </button>
                  </div>
                  <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                  <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                    Thanks, a member of our team will be in touch shortly.
                  </div>
                  <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                    Please fill all fields correctly.
                  </div>
                  <div class="text-muted">Only great content, we don’t share your email with third parties.</div>
                </form>
              </div>
            </div>
          </div>
          <div>
            <a href="index.html" class="btn btn-sm btn-outline-light fade-page">Back to Overview</a>
          </div>
        </div>
        <div class="blob blob-3 w-50 h-50 bg-white opacity-10 top right"></div>
        <div class="blob blob-4 w-25 h-25 bg-white opacity-10 bottom left"></div>
      </section>

    </template>
    <template v-else-if="view === 'utility-coming-soon-countdown'">
      <section class="bg-gradient text-white p-0 o-hidden">
        <div class="container min-vh-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
          <a href="index.html" class="fade-page">
            <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" class="bg-white" data-inject-svg>
          </a>
          <div class="my-5">
            <div class="row section-title justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">Stay tuned for our product launch</h1>
                <div class="lead">Something big is coming, be sure to check back soon.</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9 col-md-10">
                <div class="card card-body bg-white flex-row flex-wrap justify-content-around add-countdown-time" data-countdown-date="2019/08/06" data-detailed>
                  <div class="mx-4 my-4 my-md-0 text-center">
                    <div class="h1 mb-2" data-days></div>
                    <span>Days</span>
                  </div>
                  <div class="mx-4 my-4 my-md-0 text-center">
                    <div class="h1 mb-2" data-hours></div>
                    <span>Hours</span>
                  </div>
                  <div class="mx-4 my-4 my-md-0 text-center">
                    <div class="h1 mb-2" data-minutes></div>
                    <span>Minutes</span>
                  </div>
                  <div class="mx-4 my-4 my-md-0 text-center">
                    <div class="h1 mb-2" data-seconds></div>
                    <span>Seconds</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="index.html" class="btn btn-sm btn-outline-light fade-page">Back to Overview</a>
          </div>
        </div>
        <div class="blob blob-4 w-50 h-50 bg-white opacity-10 top right"></div>
        <div class="blob w-25 h-25 bg-white opacity-10 bottom left"></div>
      </section>

    </template>
    <template v-else-if="view === 'utility-coming-soon-social'">
      <section class="bg-gradient text-white p-0 o-hidden">
        <div class="container min-vh-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
          <a href="index.html" class="fade-page">
            <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" class="bg-white" data-inject-svg>
          </a>
          <div class="my-5">
            <div class="row section-title justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">Stay tuned for our product launch</h1>
                <div class="lead">Be sure to follow us on our social platforms as we launch.</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col d-flex flex-wrap justify-content-center">
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="100">
                  <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon bg-white" data-inject-svg>
                </a>
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="200">
                  <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon bg-white" data-inject-svg>
                </a>
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="300">
                  <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon bg-white" data-inject-svg>
                </a>
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="400">
                  <img src="/assets/img/icons/social/facebook.svg" alt="Facebook" class="icon bg-white" data-inject-svg>
                </a>
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="500">
                  <img src="/assets/img/icons/social/google.svg" alt="Google" class="icon bg-white" data-inject-svg>
                </a>
                <a href="#" class="btn btn-lg btn-outline-light rounded-circle m-2 m-md-3" data-aos="fade-up" data-aos-delay="600">
                  <img src="/assets/img/icons/social/instagram.svg" alt="Instagram" class="icon bg-white" data-inject-svg>
                </a>
              </div>
            </div>
          </div>
          <div>
            <a href="index.html" class="btn btn-sm btn-outline-light fade-page">Back to Overview</a>
          </div>
        </div>
        <div class="blob blob-5 w-25 h-25 bg-white opacity-10 bottom right"></div>
        <div class="blob w-50 h-50 bg-white opacity-10 top left"></div>
      </section>

    </template>
    <template v-else-if="view === 'utility-legal-terms'">
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
              <div class="card card-body shadow">
                <div class="d-flex flex-column justify-content-between align-items-start pb-4 mb-4 mb-md-5 border-bottom">
                  <div class="mb-3">
                    <h1 class="mb-2">Terms of Service</h1>
                    <div class="lead">Updated Feb 26, 20</div>
                  </div>
                  <a href="#" class="btn btn-primary">Print Terms</a>
                </div>
                <article class="article">
                  <h5>Introduction:</h5>
                  <p>
                    Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                  </p>
                  <p>
                    Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                    est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                  </p>
                  <p>
                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                  </p>
                  <h5>Terms:</h5>
                  <p>
                    Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                  </p>
                  <ul>
                    <li>Vivamus convallis mi sagittis eleifend laoreet.</li>
                    <li>Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.</li>
                    <li>Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.</li>
                  </ul>
                </article>
                <hr>
                <h6>Fine Print</h6>
                <small>Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.</small>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>
    <template v-else>
      <section class="bg-primary-3 text-white p-0 o-hidden">
        <div class="container min-vh-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
          <a href="index.html" class="fade-page">
            <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" class="bg-white" data-inject-svg>
          </a>
          <div class="my-5">
            <div class="row justify-content-center">
              <div class="col-5 mb-4">
                <img src="/assets/img/illustrations/illustration-4.svg" alt="404 Page Not Found" class="img-fluid">
              </div>
              <div class="col-12">
                <h1>404 - Page Not Found</h1>
                <div class="lead">Whoops, it looks like the page you request wasn't found.</div>
              </div>
            </div>
          </div>
          <div>
            <a href="index.html" class="btn btn-sm btn-outline-light fade-page">Back to Home</a>
          </div>
        </div>
      </section>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'utility-coming-soon-social'
    }
  },
  asyncData ({ params }) {
    return {
      // view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
