<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'company-about-1'">
      <div class="o-hidden" data-overlay>
        <section class="pb-0">
          <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
              <div class="col-md-9 col-lg-6 col-xl-5 pl-lg-5 pl-xl-0 order-lg-2" data-aos="fade-left" data-aos-delay="250">
                <h1 class="display-3">A feisty group of <mark data-aos="highlight-text" data-aos-delay="500">change makers</mark></h1>
                <p class="lead">
                  Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </p>
                <a href="#" class="lead">Meet the crew</a>
              </div>
              <div class="col-md-8 col-lg-6 mt-4 mt-md-5 mt-lg-0 order-lg-1" data-aos="fade-right">
                <img src="/assets/img/about-1.jpg" alt="Image" class="rounded img-fluid shadow-lg">
              </div>
            </div>
          </div>
          <div class="position-absolute w-50 h-100 top right" data-jarallax-element="50">
            <div class="blob bg-primary opacity-20 w-100 h-100 top left"></div>
          </div>
          <div class="divider divider-bottom bg-primary-3"></div>
        </section>
      </div>
      <section class="bg-primary-3 text-white">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">What we’re about</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
        </div>
        <div class="o-hidden">
          <div class="highlight-selected" data-flickity='{ &quote;imagesLoaded&quote;: true, &quote;wrapAround&quote;:true }'>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-3.jpg" alt="blog.3.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-4.jpg" alt="blog.4.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-6.jpg" alt="blog.7.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
              <img class="img-fluid rounded" src="/assets/img/blog/thumb-7.jpg" alt="blog.8.image">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">We glow all the way up</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
              <div class="row justify-content-center">
                <div class="col-xl-10">
                  <div class="row">
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Joshua Lapinsky</h5>
                        <div class="mb-3">Co-Founder & CEO</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Glenda Spence</h5>
                        <div class="mb-3">Co-Founder</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/male-2.jpg" alt="Michael Trossino profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Michael Trossino</h5>
                        <div class="mb-3">Social Engineering</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/male-3.jpg" alt="Patrik Janssen profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Patrik Janssen</h5>
                        <div class="mb-3">Experience Designer</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/female-2.jpg" alt="Mirembe Nkrumah profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Mirembe Nkrumah</h5>
                        <div class="mb-3">Co-Founder & CFO</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center mb-5">
                      <div class="d-flex flex-column align-items-center">
                        <img src="/assets/img/avatars/female-3.jpg" alt="Karina Messopine profile image" class="avatar avatar-xl mb-4">
                        <h5 class="mb-2">Karina Messopine</h5>
                        <div class="mb-3">Design Lead</div>
                        <ul class="list-unstyled d-flex mb-0">
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                          <li class="mx-2">
                            <a href="#" class="hover-fade-out">
                              <img src="/assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-3 mt-sm-4">
            <div class="col-auto">
              <div class="alert bg-secondary">We think you'll fit in here. <a href="#">Submit your r&eacute;sum&eacute;</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">As seen in...</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-sm-8 col-md-4 mb-5 mb-lg-0">
              <div class="card card-body bg-secondary mb-4">
                <img src="/assets/img/logos/brand/kyan.svg" alt="Kyan company logo" class="opacity-50 my-4 my-lg-5">
              </div>
              <div class="px-xl-4">
                &ldquo;A polished product from a solid performer in the brutal and ever-changing SaaS landscape.&rdquo;
              </div>
            </div>
            <div class="col-sm-8 col-md-4 mb-5 mb-lg-0">
              <div class="card card-body bg-secondary mb-4">
                <img src="/assets/img/logos/brand/goldline.svg" alt="Goldline company logo" class="opacity-50 my-4 my-lg-5">
              </div>
              <div class="px-xl-4">
                &ldquo;It's clear that the team at Jumpstart have been listening to their customers.&rdquo;
              </div>
            </div>
            <div class="col-sm-8 col-md-4 mb-5 mb-lg-0">
              <div class="card card-body bg-secondary mb-4">
                <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" class="opacity-50 my-4 my-lg-5">
              </div>
              <div class="px-xl-4">
                &ldquo;The future is looking bright for this punky young startup. One to watch for sure.&rdquo;
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-primary pb-0 text-white">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">You’re in good company</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0">
                <li class="my-3 mx-3 mx-lg-4">
                  <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" class="bg-white opacity-50" data-inject-svg>
                </li>
                <li class="my-3 mx-3 mx-lg-4">
                  <img src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="bg-white opacity-50" data-inject-svg>
                </li>
                <li class="my-3 mx-3 mx-lg-4">
                  <img src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="bg-white opacity-50" data-inject-svg>
                </li>
                <li class="my-3 mx-3 mx-lg-4">
                  <img src="/assets/img/logos/brand/treva.svg" alt="Treva company logo" class="bg-white opacity-50" data-inject-svg>
                </li>
                <li class="my-3 mx-3 mx-lg-4">
                  <img src="/assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="bg-white opacity-50" data-inject-svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>
    </template>
    <template v-else>
      <div class="bg-primary-3 o-hidden" data-overlay>
        <section class="text-white pb-0">
          <div class="container pb-5">
            <div class="row justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">A feisty group of <mark data-aos="highlight-text" data-aos-delay="250">change makers</mark></h1>
                <p class="lead mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>

              </div>
            </div>
          </div>
          <div class="position-absolute w-50 h-100 top left" data-jarallax-element="100 50">
            <div class="blob blob-4 bg-gradient w-100 h-100 top left"></div>
          </div>
          <div class="divider divider-bottom bg-white"></div>
        </section>
      </div>
      <section class="pb-0">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Less work, <mark data-aos="highlight-text" data-aos-delay="250">more flow.</mark></h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <ul class="avatar-group avatar-group-lg flex-wrap justify-content-center">
                <li>
                  <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-xl">
                </li>
                <li>
                  <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-xl">
                </li>
                <li>
                  <img src="/assets/img/avatars/male-2.jpg" alt="Michael Trossino profile image" class="avatar avatar-xl">
                </li>
                <li>
                  <img src="/assets/img/avatars/male-3.jpg" alt="Patrik Janssen profile image" class="avatar avatar-xl">
                </li>
                <li>
                  <img src="/assets/img/avatars/female-2.jpg" alt="Mirembe Nkrumah profile image" class="avatar avatar-xl">
                </li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-auto">
              <div class="alert bg-secondary">Interested in joining the team? <a href="#">View Careers</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row align-items-center justify-content-around text-center text-lg-left">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2" data-aos="fade-in">
              <h2 class="h1">We’re an aspiring team of coders and creatives</h2>
              <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              <a href="#" class="lead">Check this out</a>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1" data-aos="fade-in">
              <img src="/assets/img/about-2.jpg" alt="Image" class="img-fluid rounded shadow">
              <img src="/assets/img/about-2a.jpg" alt="Image" class="position-absolute p-0 col-4 col-xl-5 border border-white border-thick rounded-circle top left shadow-lg mt-5 ml-n5 ml-lg-n3 ml-xl-n5 d-none d-md-block" data-jarallax-element="-20 0">
            </div>
          </div>
        </div>
      </section>
      <section class="pt-0 o-hidden">
        <div class="container">
          <div class="row align-items-center justify-content-around text-center text-lg-left">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
              <div data-aos="fade-in" data-aos-offset="250">
                <h2 class="h1">We forge partnerships and build great products</h2>
                <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Fully Responsive</h6>
                  </div>
                </div>
                <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                  </div>
                </div>
                <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Modular Components</h6>
                  </div>
                </div>
                <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Suits Your Style</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5" data-aos="fade-in" data-aos-offset="250">
              <img src="/assets/img/about-1.jpg" alt="Image" class="img-fluid rounded shadow">
            </div>
          </div>
        </div>
      </section>
      <section class="bg-primary-3 text-white pt-0">
        <div class="divider divider-top transform-flip-x bg-light"></div>
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Here are the numbers</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card card-body bg-white h-100">
                <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing=""></div>
                <div>Average satisfaction rating received in the past year</div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card card-body bg-white h-100">
                <div class="display-4 text-primary mb-3" data-countup data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false"></div>
                <div>Our support experts are ready to assist anytime</div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card card-body bg-white h-100">
                <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing=""></div>
                <div>App installs from the two major mobile app stores</div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="p-0 bg-light row no-gutters">
        <div class="col-lg-5 col-xl-6 bg-primary-3">
          <div class="min-vh-30 h-100 w-100" data-marker-image="assets/img/icons/theme/map/marker-2.svg" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="443 Park Avenue South,

  Kips Bay

  New York City
  " data-map-zoom="14">
            <div class="map-marker" data-address="443 Park Avenue South,

  Kips Bay

  New York City
  ">
              <div class="info-window" data-max-width="400">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h5>Info windows in Jumpstart</h5>
                    </div>
                    <div class="col-4">
                      <img alt="Jumpstart Logo" class="w-100" src="/assets/img/logos/jumpstart.svg">
                    </div>
                    <div class="col-8 pb-2">
                      <p>
                        We've made info windows easy in Jumpstart, so you can use any HTML in this infowindow on your map.
                      </p>
                      <h6 class="mb-0">Address</h6>
                      <address>
                        443 Park Avenue South, Kips Bay New York City

                      </address>
                      <a target="_blank" href="#">... More Info</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider divider-side bg-light d-none d-lg-block"></div>
        </div>
        <div class="col-lg-7 col-xl-6">
          <section>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col col-md-10 col-xl-9">
                  <h3 class="h1">You know where to find us, let's meet for coffee!</h3>
                  <p class="lead">
                    Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  </p>
                  <div class="row">
                    <div class="col" data-aos="fade-up" data-aos-delay="100">
                      <div class="h2 text-primary mb-2" data-countup data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing=""></div>
                      <h6 class="mb-0">User Satisfaction</h6>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-delay="200">
                      <div class="h2 text-primary mb-2" data-countup data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false"></div>
                      <h6 class="mb-0">Support</h6>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-delay="300">
                      <div class="h2 text-primary mb-2" data-countup data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing=""></div>
                      <h6 class="mb-0">Downloads</h6>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'company-about-2'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
