<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'help-center-home'">
      <div data-overlay class="bg-primary-3 text-white o-hidden">
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9 text-center">
                <h1 class="display-3">Help Center</h1>
                <div class="lead">Learn valuable tips and tricks from our experienced experts</div>
                <form class="mt-5 d-flex flex-column flex-md-row form-group">
                  <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search" placeholder="Search for articles" type="search">
                  <button class="btn btn-lg btn-primary" type="submit">Search</button>
                </form>
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                  <div class="text-small mb-2 mb-sm-0 mr-2">Popular keywords:</div>
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">security</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">payment method</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">invoice</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">upgrade</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute w-50 h-75 bottom right" data-jarallax-element="100">
            <div class="blob blob-4 bg-gradient w-100 h-100 bottom right"></div>
          </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
      </div>
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-between align-items-start">
            <div class="col-lg-8">
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                  <img src="/assets/img/icons/theme/shopping/credit-card.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                  <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                    <h4>Billing & Payments</h4>
                    <p>Everything you need to know about payments and billing.</p>
                    <div class="d-sm-flex">
                      <ul class="avatar-group">
                        <li>
                          <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-sm">
                        </li>
                        <li>
                          <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                        </li>
                      </ul>
                      <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                        <div>4 articles in this collection</div>
                        <div>Written by&nbsp;<strong>Glenda</strong> and <strong>Joshua</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                  <img src="/assets/img/icons/theme/electric/shutdown.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                  <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                    <h4>Getting Started</h4>
                    <p>Hit the ground running with our handy guides.</p>
                    <div class="d-sm-flex">
                      <ul class="avatar-group">
                        <li>
                          <img src="/assets/img/avatars/female-3.jpg" alt="Joanne Smith profile image" class="avatar avatar-sm">
                        </li>
                        <li>
                          <img src="/assets/img/avatars/male-2.jpg" alt="Luke Spence profile image" class="avatar avatar-sm">
                        </li>
                      </ul>
                      <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                        <div>4 articles in this collection</div>
                        <div>Written by&nbsp;<strong>Joanne</strong> and <strong>Luke</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                  <img src="/assets/img/icons/theme/tools/tools.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                  <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                    <h4>Dashboard</h4>
                    <p>Become a dashboard pro with this sequence of lessons.</p>
                    <div class="d-sm-flex">
                      <ul class="avatar-group">
                        <li>
                          <img src="/assets/img/avatars/male-4.jpg" alt="Arnold Jacobs profile image" class="avatar avatar-sm">
                        </li>
                        <li>
                          <img src="/assets/img/avatars/female-4.jpg" alt="Lisa Tucker profile image" class="avatar avatar-sm">
                        </li>
                      </ul>
                      <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                        <div>4 articles in this collection</div>
                        <div>Written by&nbsp;<strong>Arnold</strong> and <strong>Lisa</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                  <img src="/assets/img/icons/theme/shopping/chart-bar-1.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                  <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                    <h4>Analytics</h4>
                    <p>Get to grips with all that data, these articles will help</p>
                    <div class="d-sm-flex">
                      <ul class="avatar-group">
                        <li>
                          <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-sm">
                        </li>
                        <li>
                          <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                        </li>
                      </ul>
                      <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                        <div>4 articles in this collection</div>
                        <div>Written by&nbsp;<strong>Glenda</strong> and <strong>Joshua</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col sticky-lg-top">
              <div class="pl-xl-4">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h6 class="mb-2">Email Us</h6>
                    <a href="#">hello@jumpstart.io</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Call any time</h6>
                    <a href="#">1800 488 328</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Get in touch</h6>
                    <a href="contact-1.html">Leave a message</a>
                  </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block mt-3 mt-md-4">Open a Suport Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <template v-else-if="view === 'help-center-category'">
      <div data-overlay class="bg-primary-3 text-white o-hidden">
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9 text-center">
                <h1 class="display-3">Help Center</h1>
                <div class="lead">Learn valuable tips and tricks from our experienced experts</div>
                <form class="mt-5 d-flex flex-column flex-md-row form-group">
                  <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search" placeholder="Search for articles" type="search">
                  <button class="btn btn-lg btn-primary" type="submit">Search</button>
                </form>
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                  <div class="text-small mb-2 mb-sm-0 mr-2">Popular keywords:</div>
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">security</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">payment method</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">invoice</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">upgrade</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute w-50 h-75 bottom right" data-jarallax-element="100">
            <div class="blob blob-4 bg-gradient w-100 h-100 bottom right"></div>
          </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
      </div>
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-between align-items-start">
            <div class="col-lg-8">
              <a href="help-center-home.html">Back to Help Center</a>
              <h2 class="h1 mt-4">Billing & Payments</h2>
              <div class="lead">Everything you need to know about payments and billing.</div>
              <hr class="my-md-4 my-lg-5">
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body hover-box-shadow">
                  <h4>Changing Payment Methods</h4>
                  <p>Maecenas vestibulum sed erat eget blandit.</p>
                  <div class="d-flex align-items-center">
                    <img src="/assets/img/avatars/female-1.jpg" alt="" class="avatar avatar-sm">
                    <div class="text-small ml-3">
                      <div>Written by
                        <strong>Glenda Spence</strong>
                      </div>
                      <div>Last updated July 3rd 2019</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body hover-box-shadow">
                  <h4>Cancelling your subscription</h4>
                  <p>Donec a leo ac diam vulputate khaleesi eget est.</p>
                  <div class="d-flex align-items-center">
                    <img src="/assets/img/avatars/male-1.jpg" alt="" class="avatar avatar-sm">
                    <div class="text-small ml-3">
                      <div>Written by
                        <strong>Joshua Lapinsky</strong>
                      </div>
                      <div>Last updated July 10th 2019</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="mb-3 mb-sm-4">
                <a href="#" class="card card-body hover-box-shadow">
                  <h4>Upgrading your plan</h4>
                  <p>Volantis phasellus tincidunt vitae libero efficitur viverra.</p>
                  <div class="d-flex align-items-center">
                    <img src="/assets/img/avatars/male-2.jpg" alt="" class="avatar avatar-sm">
                    <div class="text-small ml-3">
                      <div>Written by
                        <strong>Michael Trossino</strong>
                      </div>
                      <div>Last updated June 29th 2019</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col sticky-lg-top">
              <div class="pl-xl-4">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h6 class="mb-2">Email Us</h6>
                    <a href="#">hello@jumpstart.io</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Call any time</h6>
                    <a href="#">1800 488 328</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Get in touch</h6>
                    <a href="contact-1.html">Leave a message</a>
                  </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block mt-3 mt-md-4">Open a Suport Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <template v-else>
      <div data-overlay class="bg-primary-3 text-white o-hidden">
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-9 text-center">
                <h1 class="display-3">Help Center</h1>
                <div class="lead">Learn valuable tips and tricks from our experienced experts</div>
                <form class="mt-5 d-flex flex-column flex-md-row form-group">
                  <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search" placeholder="Search for articles" type="search">
                  <button class="btn btn-lg btn-primary" type="submit">Search</button>
                </form>
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                  <div class="text-small mb-2 mb-sm-0 mr-2">Popular keywords:</div>
                  <ul class="d-flex flex-wrap list-unstyled mb-0">
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">security</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">payment method</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">invoice</a>
                    </li>
                    <li class="m-1">
                      <a class="badge badge-pill badge-white" href="#">upgrade</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute w-50 h-75 bottom right" data-jarallax-element="100">
            <div class="blob blob-4 bg-gradient w-100 h-100 bottom right"></div>
          </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
      </div>
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-between align-items-start">
            <div class="col-lg-8 mb-4 mb-lg-0">
              <div class="d-flex">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="help-center-home.html">Help Center</a>
                    </li>
                    <li class="breadcrumb-item"><a href="help-center-category.html">Billing &amp; Payments</a>
                    </li>
                  </ol>
                </nav>
              </div>
              <h2 class="h1 mt-4">Changing payment methods</h2>
              <div class="lead">Consectetur adipiscing elit. Phasellus feugiat elit.</div>
              <div class="d-flex align-items-center mt-4 mt-md-5">
                <img src="/assets/img/avatars/male-5.jpg" alt="Avatar" class="avatar avatar-sm">
                <div class="text-small ml-3">
                  <div>Written by <a href="#">Anthony Naples</a>
                  </div>
                  <div class="text-muted">Last updated Feb 26, 2020</div>
                </div>
              </div>
              <hr class="my-md-4 my-lg-5">
              <div class="row">
                <div class="col-xl-10">
                  <article class="article">
                    <h3 class="h2">Intro to article</h3>
                    <p>
                      Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                    </p>
                    <p>
                      Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                      est nec diam suscipit iaculis.
                      <mark data-aos="highlight-text" data-aos-delay="250">Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.</mark>Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <p>
                      Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <h5>Let’s talk subheadings</h5>
                    <p>
                      Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <ul>
                      <li>
                        Vivamus convallis mi sagittis eleifend laoreet.
                      </li>
                      <li>
                        Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                      </li>
                      <li>
                        Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.
                      </li>
                    </ul>
                    <blockquote class="blockquote">
          “Here’s an insightful quote from the article that is worth isolating for emphasis.”
      </blockquote>
                    <p>
                      Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                      est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <figure>
                      <img src="/assets/img/blog/thumb-4.jpg" alt="Blog Figure" class="img-fluid rounded">
                      <figcaption>Here’s a great little figure caption.</figcaption>
                    </figure>
                    <p>
                      Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <p>
                      Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                    </p>
                    <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
  &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
                    <p>
                      Gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est
                      nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                    </p>
                    <h5>Now to summarize</h5>
                    <p>
                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                      animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                    <p>
                      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    </p>
                    <ol>
                      <li>
                        Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
                      </li>
                      <li>
                        Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.
                      </li>
                      <li>
                        Et iusto odio dignissimos ducimus qui blanditiis
                      </li>
                    </ol>
                  </article>
                  <div class="my-4 my-sm-5 card card-body flex-sm-row justify-content-between align-items-center">
                    <div class="h5 mb-sm-0">Did you find this helpful?</div>
                    <div class="d-flex">
                      <a href="#" class="btn btn-sm btn-outline-primary mx-1">Yes</a>
                      <a href="#" class="btn btn-sm btn-outline-primary mx-1">No</a>
                    </div>
                  </div>
                  <h3 class="h2 mb-4 mb-md-5">Comments</h3>
                  <ul class="article-comments mb-4 mb-sm-5">
                    <li>
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                          <img src="/assets/img/avatars/male-6.jpg" alt="Daniel Smith" class="avatar avatar-xs">
                          <div class="h6 mb-0 ml-2">Daniel Smith</div>
                        </div>
                        <div class="text-small text-muted">14 minutes ago</div>
                      </div>
                      <div>
                        <p>Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, Melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet imp vitae
                          diam.</p>

                      </div>
                      <a href="#">Reply</a>
                      <ul class="article-comments">
                        <li>
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex align-items-center">
                              <img src="/assets/img/avatars/male-7.jpg" alt="Richard Kingston" class="avatar avatar-xs">
                              <div class="h6 mb-0 ml-2">Robert Kingston</div>
                            </div>
                            <div class="text-small text-muted">2 minutes ago</div>
                          </div>
                          <div>
                            <p>Elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, Melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet imp vitae diam.</p>

                          </div>
                          <a href="#">Reply</a>
                          <ul class="article-comments">
                            <li>
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex align-items-center">
                                  <img src="/assets/img/avatars/female-6.jpg" alt="Helena R" class="avatar avatar-xs">
                                  <div class="h6 mb-0 ml-2">Helena R</div>
                                </div>
                                <div class="text-small text-muted">Just now</div>
                              </div>
                              <div>
                                <p>Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.</p>

                              </div>
                              <a href="#">Reply</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                          <img src="/assets/img/avatars/female-2.jpg" alt="Abigail T" class="avatar avatar-xs">
                          <div class="h6 mb-0 ml-2">Abigail T</div>
                        </div>
                        <div class="text-small text-muted">3 hours ago</div>
                      </div>
                      <div>
                        <p>Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.</p>

                      </div>
                      <a href="#">Reply</a>
                    </li>
                  </ul>
                  <h4 class="h3 mb-4">Leave a reply</h4>
                  <form>
                    <div class="form-row">
                      <div class="col-sm">
                        <div class="form-group">
                          <input type="text" class="form-control" name="reply-name" placeholder="Your Name">
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group">
                          <input type="email" class="form-control" name="reply-email" placeholder="Email Address">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea name="reply-message" rows="8" class="form-control" placeholder="Your Reply"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-primary" type="submit">Add Reply</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col sticky-lg-top">
              <div class="pl-xl-4">
                <div class="list-group mb-3 mb-md-4">
                  <div class="list-group-item">
                    <h6 class="mb-0">Similar Articles</h6>
                  </div>
                  <div class="list-group-item">
                    <a href="#">Cancelling your subscription</a>
                    <div class="text-small">Donec a leo ac diam vulputate khaleesi eget est.</div>
                  </div>
                  <div class="list-group-item">
                    <a href="#">Upgrading your plan</a>
                    <div class="text-small">Volantis phasellus tincidunt vitae libero efficitur viverra.</div>
                  </div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <h6 class="mb-2">Email Us</h6>
                    <a href="#">hello@jumpstart.io</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Call any time</h6>
                    <a href="#">1800 488 328</a>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-2">Get in touch</h6>
                    <a href="contact-1.html">Leave a message</a>
                  </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block mt-3 mt-md-4">Open a Suport Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'help-center-home'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
