<template>
  <main>
<!--    <Navbar mode="navbar-light" position="position-fixed" />-->
    <nuxt />
<!--    <Footer />-->
  </main>
</template>

<script>
export default {
  // head: {
  //   title: 'Default Index',
  //   meta: [
  //     // hid is used as unique identifier. Do not use `vmid` for it as it will not work
  //     { name: 'description', content: 'Tiket Online Museum Nasional Indonesia' },
  //     // google search engine
  //     // { itemprop: 'name', content: ''},
  //     // { itemprop: 'desc', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning`},
  //     // { itemprop: 'image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}`},
  //     // facebook
  //     { hid: 'og:title', property: 'og:title', content: 'Tiket Online Museum Nasional Indonesia' },
  //     { hid: 'og:url',property: 'og:url', content: `${process.env.BASE_URL}`},
  //     { hid: 'og:site_name',property: 'og:site_name', content: 'Museum Nasional' },
  //     { hid: 'og:description',property: 'og:description', content: 'Tiket Online Museum Nasional Indonesia' },
  //     { hid: 'og:image',property: 'og:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
  //     // twitter
  //     { property: 'twitter:title', content: 'Mall Edukasi Indonesia' },
  //     { property: 'twitter:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
  //     { property: 'twitter:url', content: `${process.env.BASE_URL}` },
  //     { property: 'twitter:card', content: '' },
  //   ],
  // },
  watch: {
    '$route': {
      immediate: true,
      handler (to, from) {
        if (process.client) {
          this.$InitScript(this)
          /* eslint-disable */
          $('.dropdown').removeClass('show')
          $('.dropdown-menu').removeClass('show')
        }
      }
    }
  }
}
</script>
