<template>
  <section>404 Not Found</section>
</template>

<script>
export default {
  methods: {
    goToHome () {
      window.location.href = window.location.protocol + '//' + window.location.host
    }
  }
}
</script>
