<template>
  <main>
    <Navbar mode="navbar-dark" position="" />
    <nuxt/>
<!--    <Footer />-->
  </main>
</template>

<script>
export default {
  head: {
    title: 'Museum Nasional'
  },
  created () {
    // if (process.client) {
    //   this.$InitScript()
    // }
  },
  // mounted() {
  //   this.$InitScript(this)
  // }
}
</script>
