<template>
  <div>
    <Navbar mode="navbar-light" position="position-fixed" />
    <template v-if="view === 'blog-listing-1'">
      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                  <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-2.jpg" alt="blog.1.image">
                  <div class="divider divider-side bg-white d-none d-lg-block"></div>
                </a>
                <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                  <div class="p-lg-4 p-xl-5">
                    <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                      <a href="#" class="badge badge-pill badge-danger">Design</a>
                      <div class="text-small text-muted">October 10th</div>
                    </div>
                    <a href="#">
                      <h1>Unveiling our new vision for Jumpstart</h1>
                    </a>
                    <p class="lead">
                      Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                    </p>
                    <a href="#" class="lead">Read Story</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mt-lg-5">
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
              <div class="row">
                <a class="col-5" href="#">
                  <img class="rounded img-fluid hover-fade-out" src="/assets/img/blog/thumb-1.jpg" alt="blog.2.image">
                </a>
                <div class="col">
                  <a class="h6" href="#">Making the most of team-building sessions</a>
                  <div class="text-small text-muted mt-2">October 2nd</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
              <div class="row">
                <a class="col-5" href="#">
                  <img class="rounded img-fluid hover-fade-out" src="/assets/img/blog/thumb-3.jpg" alt="blog.3.image">
                </a>
                <div class="col">
                  <a class="h6" href="#">Keep your users engaged in their sleep</a>
                  <div class="text-small text-muted mt-2">September 13th</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
              <div class="row">
                <a class="col-5" href="#">
                  <img class="rounded img-fluid hover-fade-out" src="/assets/img/blog/thumb-4.jpg" alt="blog.4.image">
                </a>
                <div class="col">
                  <a class="h6" href="#">It's not just about the clicks. Here's why</a>
                  <div class="text-small text-muted mt-2">August 8th</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Why social ROI is impossible to measure</h3>
                  </a>
                  <p>
                    Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-info">Finance</a>
                  <div class="text-small text-muted">July 21st</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Breathing new life into a tired UI</h3>
                  </a>
                  <p>
                    Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-danger">Design</a>
                  <div class="text-small text-muted">June 30th</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-6.jpg" alt="blog.7.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Stepping back to see the bigger picture</h3>
                  </a>
                  <p>
                    At imperdiet dui accumsan sit. Olenna enim nec dui unuch mattis tellus elementum sagittis.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-success">Culture</a>
                  <div class="text-small text-muted">May 14th</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-7.jpg" alt="blog.8.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Do we need more “Me” people in tech?</h3>
                  </a>
                  <p>
                    Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-success">Culture</a>
                  <div class="text-small text-muted">April 1st</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-9.jpg" alt="blog.9.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Having your cake, and eating it too!</h3>
                  </a>
                  <p>
                    Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-danger">Design</a>
                  <div class="text-small text-muted">March 21st</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-10.jpg" alt="blog.10.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Make users stick to your brand</h3>
                  </a>
                  <p>
                    Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                  <div class="text-small text-muted">February 6th</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-auto">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Previous">
                      <img src="/assets/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Next">
                      <img src="/assets/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gradient text-white pb-0 o-hidden">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Stay right up to date</h3>
              <div class="lead">Get great content to your inbox every week. No spam.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <form data-form-email novalidate action="/forms/mailchimp.php">
                <div class="d-flex flex-column flex-sm-row form-group">
                  <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>
                  <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Subscribe</span>
                  </button>
                </div>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div class="text-muted">Only great content, we don’t share your email with third parties.</div>
              </form>
            </div>
          </div>
        </div>
        <div class="h-75 w-50 position-absolute bottom left" data-jarallax-element="-60">
          <div class="blob bottom left w-100 h-100 bg-white opacity-10"></div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>
    </template>
    <template v-else-if="view === 'blog-listing-2'">
      <section class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-2.jpg" alt="blog.1.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-danger">Design</a>
                        <div class="text-small text-muted">October 10th</div>
                      </div>
                      <a href="#">
                        <h1>Unveiling our new vision for Jumpstart</h1>
                      </a>
                      <p class="lead">
                        Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-1.jpg" alt="blog.2.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-success">Culture</a>
                        <div class="text-small text-muted">October 2nd</div>
                      </div>
                      <a href="#">
                        <h1>Making the most of team-building sessions</h1>
                      </a>
                      <p class="lead">
                        Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-3.jpg" alt="blog.3.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                        <div class="text-small text-muted">September 13th</div>
                      </div>
                      <a href="#">
                        <h1>Keep your users engaged in their sleep</h1>
                      </a>
                      <p class="lead">
                        Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-4.jpg" alt="blog.4.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                        <div class="text-small text-muted">August 8th</div>
                      </div>
                      <a href="#">
                        <h1>It's not just about the clicks. Here's why</h1>
                      </a>
                      <p class="lead">
                        Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-info">Finance</a>
                        <div class="text-small text-muted">July 21st</div>
                      </div>
                      <a href="#">
                        <h1>Why social ROI is impossible to measure</h1>
                      </a>
                      <p class="lead">
                        Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 mb-md-5" data-aos="fade-up">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                    <img class="flex-fill hover-fade-out" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
                    <div class="divider divider-side bg-white d-none d-lg-block"></div>
                  </a>
                  <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                    <div class="p-lg-4 p-xl-5">
                      <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                        <a href="#" class="badge badge-pill badge-danger">Design</a>
                        <div class="text-small text-muted">June 30th</div>
                      </div>
                      <a href="#">
                        <h1>Breathing new life into a tired UI</h1>
                      </a>
                      <p class="lead">
                        Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                      </p>
                      <a href="#" class="lead">Read Story</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-auto">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Previous">
                      <img src="/assets/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Next">
                      <img src="/assets/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gradient text-white pb-0 o-hidden">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Stay right up to date</h3>
              <div class="lead">Get great content to your inbox every week. No spam.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <form data-form-email novalidate action="/forms/mailchimp.php">
                <div class="d-flex flex-column flex-sm-row form-group">
                  <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>
                  <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Subscribe</span>
                  </button>
                </div>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div class="text-muted">Only great content, we don’t share your email with third parties.</div>
              </form>
            </div>
          </div>
        </div>
        <div class="h-75 w-50 position-absolute bottom left" data-jarallax-element="-60">
          <div class="blob bottom left w-100 h-100 bg-white opacity-10"></div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>

    </template>
    <template v-else-if="view === 'blog-listing-3'">
      <section class="bg-primary-3 text-white">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h1 class="display-3">Newsroom</h1>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">October 10th</div>
                  <a href="#">
                    <h3 class="h2">Unveiling our new vision for Jumpstart</h3>
                  </a>
                  <p>
                    Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">October 2nd</div>
                  <a href="#">
                    <h3 class="h2">Making the most of team-building sessions</h3>
                  </a>
                  <p>
                    Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/male-2.jpg" alt="Michael Trossino profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">September 13th</div>
                  <a href="#">
                    <h3 class="h2">Keep your users engaged in their sleep</h3>
                  </a>
                  <p>
                    Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/male-3.jpg" alt="Patrik Janssen profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">August 8th</div>
                  <a href="#">
                    <h3 class="h2">It's not just about the clicks. Here's why</h3>
                  </a>
                  <p>
                    Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/female-2.jpg" alt="Mirembe Nkrumah profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">July 21st</div>
                  <a href="#">
                    <h3 class="h2">Why social ROI is impossible to measure</h3>
                  </a>
                  <p>
                    Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-9 col-md-10 mb-3 mb-sm-5" data-aos="fade-up" data-offset="200">
              <div class="card card-body hover-box-shadow bg-white">
                <img src="/assets/img/avatars/female-3.jpg" alt="Karina Messopine profile image" class="avatar mt-md-n5 mb-3">
                <div>
                  <div class="text-muted mb-3">June 30th</div>
                  <a href="#">
                    <h3 class="h2">Breathing new life into a tired UI</h3>
                  </a>
                  <p>
                    Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                  </p>
                  <a href="#" class="stretched-link">Read Story</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-auto">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Previous">
                      <img src="/assets/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link rounded" href="#" aria-label="Next">
                      <img src="/assets/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gradient text-white pb-0 o-hidden">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Stay right up to date</h3>
              <div class="lead">Get great content to your inbox every week. No spam.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <form data-form-email novalidate action="/forms/mailchimp.php">
                <div class="d-flex flex-column flex-sm-row form-group">
                  <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>
                  <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Subscribe</span>
                  </button>
                </div>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div class="text-muted">Only great content, we don’t share your email with third parties.</div>
              </form>
            </div>
          </div>
        </div>
        <div class="h-75 w-50 position-absolute bottom left" data-jarallax-element="-60">
          <div class="blob bottom left w-100 h-100 bg-white opacity-10"></div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>

    </template>
    <template v-else>
      <section class="p-0 border-top border-bottom bg-light row no-gutters">
        <div class="col-lg-5 col-xl-6 order-lg-2">
          <div class="divider divider-side transform-flip-y bg-light d-none d-lg-block"></div>
          <img class="flex-fill" src="/assets/img/blog/large-2.jpg" alt="blog.1.image">
        </div>
        <div class="col-lg-7 col-xl-6">
          <div class="container min-vh-lg-70 d-flex align-items-center">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-xl-9 py-4 py-sm-5">
                <div class="my-4 my-md-5">
                  <div class="d-flex align-items-center mb-3 mb-xl-4">
                    <a href="#" class="badge badge-pill badge-danger">Design</a>
                    <div class="ml-3 text-small text-muted">October 10th</div>
                  </div>
                  <h1 class="display-4">
                Unveiling our new vision for Jumpstart
              </h1>
                  <a href="#" class="d-flex align-items-center">
                    <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                    <div class="h6 mb-0 ml-3">Joshua Lapinsky</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <article class="article">
                <h3 class="h2">Intro to article</h3>
                <p>
                  Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                </p>
                <p>
                  Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                  est nec diam suscipit iaculis.
                  <mark data-aos="highlight-text" data-aos-delay="250">Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.</mark>Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <p>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <h5>Let’s talk subheadings</h5>
                <p>
                  Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <ul>
                  <li>
                    Vivamus convallis mi sagittis eleifend laoreet.
                  </li>
                  <li>
                    Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                  </li>
                  <li>
                    Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.
                  </li>
                </ul>
                <blockquote class="blockquote">
          “Here’s an insightful quote from the article that is worth isolating for emphasis.”
      </blockquote>
                <p>
                  Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                  est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <figure>
                  <img src="/assets/img/blog/thumb-4.jpg" alt="Blog Figure" class="img-fluid rounded">
                  <figcaption>Here’s a great little figure caption.</figcaption>
                </figure>
                <p>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <p>
                  Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                </p>
                <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
  &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
                <p>
                  Gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est
                  nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                </p>
                <h5>Now to summarize</h5>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                  animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                </p>
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p>
                <ol>
                  <li>
                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
                  </li>
                  <li>
                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.
                  </li>
                  <li>
                    Et iusto odio dignissimos ducimus qui blanditiis
                  </li>
                </ol>
              </article>
              <div class="mt-4 mt-sm-5 border-top pt-5 d-none d-sm-block">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Blog</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Design</a>
                    </li>
                    <li class="breadcrumb-item">Unveiling our new vision for Jumpstart</li>
                  </ol>
                </nav>
              </div>
              <div class="my-4 my-sm-5 card card-body flex-sm-row justify-content-between align-items-center">
                <div class="h5 mb-sm-0">Share this article:</div>
                <div class="d-flex">
                  <a href="#" class="btn btn-sm btn-primary rounded-circle mx-1">
                    <img src="/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icons-m bg-white" data-inject-svg>
                  </a>
                  <a href="#" class="btn btn-sm btn-primary rounded-circle mx-1">
                    <img src="/assets/img/icons/social/facebook.svg" alt="Facebook" class="icon icons-m bg-white" data-inject-svg>
                  </a>
                  <a href="#" class="btn btn-sm btn-primary rounded-circle mx-1">
                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linked In" class="icon icons-m bg-white" data-inject-svg>
                  </a>
                </div>
              </div>
              <h3 class="h2 mb-4 mb-md-5">Comments</h3>
              <ul class="article-comments mb-4 mb-sm-5">
                <li>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                      <img src="/assets/img/avatars/male-6.jpg" alt="Daniel Smith" class="avatar avatar-xs">
                      <div class="h6 mb-0 ml-2">Daniel Smith</div>
                    </div>
                    <div class="text-small text-muted">14 minutes ago</div>
                  </div>
                  <div>
                    <p>Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, Melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet imp vitae
                      diam.</p>

                  </div>
                  <a href="#">Reply</a>
                  <ul class="article-comments">
                    <li>
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                          <img src="/assets/img/avatars/male-7.jpg" alt="Richard Kingston" class="avatar avatar-xs">
                          <div class="h6 mb-0 ml-2">Robert Kingston</div>
                        </div>
                        <div class="text-small text-muted">2 minutes ago</div>
                      </div>
                      <div>
                        <p>Elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, Melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet imp vitae diam.</p>

                      </div>
                      <a href="#">Reply</a>
                      <ul class="article-comments">
                        <li>
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex align-items-center">
                              <img src="/assets/img/avatars/female-6.jpg" alt="Helena R" class="avatar avatar-xs">
                              <div class="h6 mb-0 ml-2">Helena R</div>
                            </div>
                            <div class="text-small text-muted">Just now</div>
                          </div>
                          <div>
                            <p>Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.</p>

                          </div>
                          <a href="#">Reply</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                      <img src="/assets/img/avatars/female-2.jpg" alt="Abigail T" class="avatar avatar-xs">
                      <div class="h6 mb-0 ml-2">Abigail T</div>
                    </div>
                    <div class="text-small text-muted">3 hours ago</div>
                  </div>
                  <div>
                    <p>Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.</p>

                  </div>
                  <a href="#">Reply</a>
                </li>
              </ul>
              <h4 class="h3 mb-4">Leave a reply</h4>
              <form>
                <div class="form-row">
                  <div class="col-sm">
                    <div class="form-group">
                      <input type="text" class="form-control" name="reply-name" placeholder="Your Name">
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <input type="email" class="form-control" name="reply-email" placeholder="Email Address">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea name="reply-message" rows="8" class="form-control" placeholder="Your Reply"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-primary" type="submit">Add Reply</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="h1">More great articles</h3>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Why social ROI is impossible to measure</h3>
                  </a>
                  <p>
                    Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-info">Finance</a>
                  <div class="text-small text-muted">July 21st</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Breathing new life into a tired UI</h3>
                  </a>
                  <p>
                    Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-danger">Design</a>
                  <div class="text-small text-muted">June 30th</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
              <div class="card h-100 hover-box-shadow">
                <a href="#" class="d-block bg-gradient rounded-top">
                  <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-6.jpg" alt="blog.7.image">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h3>Stepping back to see the bigger picture</h3>
                  </a>
                  <p>
                    At imperdiet dui accumsan sit. Olenna enim nec dui unuch mattis tellus elementum sagittis.
                  </p>
                  <a href="#">Read Story</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="#" class="badge badge-pill badge-success">Culture</a>
                  <div class="text-small text-muted">May 14th</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-gradient text-white pb-0 o-hidden">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Stay right up to date</h3>
              <div class="lead">Get great content to your inbox every week. No spam.</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <form data-form-email novalidate action="/forms/mailchimp.php">
                <div class="d-flex flex-column flex-sm-row form-group">
                  <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>
                  <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Subscribe</span>
                  </button>
                </div>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div class="text-muted">Only great content, we don’t share your email with third parties.</div>
              </form>
            </div>
          </div>
        </div>
        <div class="h-75 w-50 position-absolute bottom left" data-jarallax-element="-60">
          <div class="blob bottom left w-100 h-100 bg-white opacity-10"></div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>

    </template>
    <Footer />
  </div>
</template>

<script>
export default {
  layout ({ params }) {
    return 'pages'
  },
  data () {
    return {
      view: 'blog-article'
    }
  },
  asyncData ({ params }) {
    return {
      view: params.view
    }
  },
  mounted () {
    this.$InitScript()
  }
}
</script>
