<template>
  <section class="p-0">
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <div class="card card-body shadow-lg">
              <div class="d-flex justify-content-between align-items-start pb-4 pb-md-5 mb-4 mb-md-5 border-bottom">
                <div>
                  <h6>Jumpstart Inc.</h6>
                  <address>
                    <p>443 Park Avenue South,</p>
                    <p>Kips Bay</p>
                    <p>New York City</p>

                  </address>
                  <a href="#">hello@jumpstart.io</a>
                </div>
                <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart Logo">
              </div>
              <div class="mb-4">
                <h1>Tax Invoice <span class="badge badge-success">PAID</span></h1>
              </div>
              <div class="row justify-content-between mb-4 mb-md-5">
                <div class="col-sm">
                  <h6>Invoice to:</h6>
                  <div>
                    <div>Larry Billings</div>
                    <div>Some Company</div>
                    <address>
                      382 Harrington Road,
                      <br />Paramatta NSW 3928
                    </address>
                  </div>
                </div>
                <div class="col-sm col-lg-4">
                  <dl class="row text-sm-right">
                    <dt class="col-6"><strong>Invoice No.</strong>
                    </dt>
                    <dd class="col-6">482263</dd>
                    <dt class="col-6"><strong>Date Issued:</strong>
                    </dt>
                    <dd class="col-6">31/05/2019</dd>
                    <dt class="col-6"><strong>Date Due:</strong>
                    </dt>
                    <dd class="col-6">30/06/2019</dd>
                    <dt class="col-6"><strong>Terms</strong>
                    </dt>
                    <dd class="col-6">Net 30</dd>
                  </dl>
                </div>
              </div>
              <div>
                <table class="table mb-0 text-right">
                  <thead class="bg-light border-top">
                    <tr>
                      <th scope="col" class="border-0 text-left">
                        Item
                      </th>
                      <th scope="col" class="border-0">
                        Quantity
                      </th>
                      <th scope="col" class="border-0">
                        Rate
                      </th>
                      <th scope="col" class="border-0">
                        Total
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="text-left">
                        Monthly subscription
                      </th>
                      <td>
                        1
                      </td>
                      <td>
                        39.00
                      </td>
                      <td>
                        39.00
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-left">
                        Additional Service (per hour)
                      </th>
                      <td>
                        4
                      </td>
                      <td>
                        59.00
                      </td>
                      <td>
                        236.00
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-left">
                        Parts for service
                      </th>
                      <td>
                        1
                      </td>
                      <td>
                        159.00
                      </td>
                      <td>
                        159.00
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-end text-right mb-4 py-4 border-bottom">
                  <div>
                    <div>Balance due:</div>
                    <div class="h4 mb-0 mt-2">USD $434.00</div>
                  </div>
                </div>
                <div class="text-small">
                  <div>Payments to:</div>
                  <div><strong>payment@jumpstart.io</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
export default {
}
</script>
