<template>
  <section class="p-0">
    <div class="bg-gradient text-white p-0 o-hidden jarallax" data-overlay data-jarallax data-speed="0.5">
      <section class="pb-0">
        <img src="/assets/img/heros/hero-2.jpg" alt="Image" class="jarallax-img opacity-40">
        <div class="container min-vh-40 d-flex flex-column justify-content-center">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h1 class="display-3">We’re on the grow</h1>
              <p class="lead mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
              <a href="#" class="btn btn-lg mt-4 mt-lg-5 btn-primary">Find An Opening</a>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
      </section>
    </div>
    <section class="bg-primary-3 text-white">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">What we’re about</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <div class="d-flex position-relative align-items-center justify-content-center rounded">
              <img class="rounded img-fluid" src="/assets/img/case-studies/thumb-2.jpg" alt="Video cover image">
              <a data-fancybox href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle position-absolute" data-aos="zoom-in">
                <img src="/assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-4 col-xl-5 mb-4 mb-md-5 mb-lg-0" data-aos="fade-in">
            <h2 class="h1">Benefits galore when you join the team.</h2>
            <p class="lead">Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
          <div class="col-12 col-lg" data-aos="fade-in">
            <div class="d-flex flex-wrap justify-content-center">
              <div class="m-2" data-aos="fade-up" data-aos-delay="100">
                <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
                  <img src="/assets/img/icons/theme/devices/display-1.svg" alt="Monitor icon" class="icon mr-3 bg-primary" data-inject-svg>
                  <h5 class="mb-0">Equipment supplied</h5>
                </div>
              </div>
              <div class="m-2" data-aos="fade-up" data-aos-delay="200">
                <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
                  <img src="/assets/img/icons/theme/food/sushi.svg" alt="Sushi icon" class="icon mr-3 bg-primary" data-inject-svg>
                  <h5 class="mb-0">Vegan cafeteria</h5>
                </div>
              </div>
              <div class="m-2" data-aos="fade-up" data-aos-delay="300">
                <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
                  <img src="/assets/img/icons/theme/map/compass.svg" alt="Compass icon" class="icon mr-3 bg-primary" data-inject-svg>
                  <h5 class="mb-0">Mental health positive</h5>
                </div>
              </div>
              <div class="m-2" data-aos="fade-up" data-aos-delay="400">
                <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
                  <img src="/assets/img/icons/theme/devices/gamepad-1.svg" alt="Gamepad icon" class="icon mr-3 bg-primary" data-inject-svg>
                  <h5 class="mb-0">In-house games</h5>
                </div>
              </div>
              <div class="m-2" data-aos="fade-up" data-aos-delay="500">
                <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
                  <img src="/assets/img/icons/theme/shopping/chart-bar-2.svg" alt="Increasing chart icon" class="icon mr-3 bg-primary" data-inject-svg>
                  <h5 class="mb-0">Competitive salary</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5">
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0" data-aos="fade-in">
            <h2 class="h1">The perfect balance of nature and nurture.</h2>
            <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div class="col-md-10 col-lg-6 col-xl-5" data-aos="fade-right">
            <div class="buttons-attached" data-flickity='{ "imagesLoaded": true, "wrapAround":true }'>
              <div class="carousel-cell text-center">
                <img class="img-fluid rounded" src="/assets/img/blog/thumb-4.jpg" alt="blog.4.image">
              </div>
              <div class="carousel-cell text-center">
                <img class="img-fluid rounded" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
              </div>
              <div class="carousel-cell text-center">
                <img class="img-fluid rounded" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-0 bg-light">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Job Vacancies</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <div class="px-3 d-none d-md-block">
              <div class="row mb-4">
                <div class="col">
                  <h5 class="mb-0">Position</h5>
                </div>
                <div class="col-3">
                  <h5 class="mb-0">Department</h5>
                </div>
                <div class="col-3">
                  <h5 class="mb-0">Location</h5>
                </div>
              </div>
            </div>
            <a href="#" class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
              <div class="col-auto col-md">
                <h6 class="mb-0">Design Director</h6>
              </div>
              <div class="col-auto col-md-3">
                Design
              </div>
              <div class="col-auto col-md-3">
                New York
              </div>
            </a>
            <a href="#" class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
              <div class="col-auto col-md">
                <h6 class="mb-0">Motion Designer</h6>
              </div>
              <div class="col-auto col-md-3">
                Design
              </div>
              <div class="col-auto col-md-3">
                San Francisco
              </div>
            </a>
            <a href="#" class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
              <div class="col-auto col-md">
                <h6 class="mb-0">Product Engineer</h6>
              </div>
              <div class="col-auto col-md-3">
                Engineering
              </div>
              <div class="col-auto col-md-3">
                New York
              </div>
            </a>
            <a href="#" class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
              <div class="col-auto col-md">
                <h6 class="mb-0">Customer Relations</h6>
              </div>
              <div class="col-auto col-md-3">
                Support
              </div>
              <div class="col-auto col-md-3">
                San Francisco
              </div>
            </a>
            <a href="#" class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
              <div class="col-auto col-md">
                <h6 class="mb-0">React Developer</h6>
              </div>
              <div class="col-auto col-md-3">
                Engineering
              </div>
              <div class="col-auto col-md-3">
                Remote
              </div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center mt-3 mt-md-4">
          <div class="col-auto">
            <div class="alert bg-secondary">Don't see a good fit? <a href="#">Submit your r&eacute;sum&eacute;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider divider-bottom bg-primary-3"></div>
    </section>
  </section>
</template>

<script>
export default {
}
</script>
