<template>
  <section class="p-0">
    <div data-overlay class="bg-primary-3 text-white o-hidden">
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 text-center">
              <h1 class="display-3">Help Center</h1>
              <div class="lead">Learn valuable tips and tricks from our experienced experts</div>
              <form class="mt-5 d-flex flex-column flex-md-row form-group">
                <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search" placeholder="Search for articles" type="search">
                <button class="btn btn-lg btn-primary" type="submit">Search</button>
              </form>
              <div class="d-flex flex-wrap align-items-center justify-content-center">
                <div class="text-small mb-2 mb-sm-0 mr-2">Popular keywords:</div>
                <ul class="d-flex flex-wrap list-unstyled mb-0">
                  <li class="m-1">
                    <a class="badge badge-pill badge-white" href="#">security</a>
                  </li>
                  <li class="m-1">
                    <a class="badge badge-pill badge-white" href="#">payment method</a>
                  </li>
                  <li class="m-1">
                    <a class="badge badge-pill badge-white" href="#">invoice</a>
                  </li>
                  <li class="m-1">
                    <a class="badge badge-pill badge-white" href="#">upgrade</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute w-50 h-75 bottom right" data-jarallax-element="100">
          <div class="blob blob-4 bg-gradient w-100 h-100 bottom right"></div>
        </div>
      </section>
      <div class="divider divider-bottom bg-light"></div>
    </div>
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-between align-items-start">
          <div class="col-lg-8">
            <div class="mb-3 mb-sm-4">
              <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                <img src="/assets/img/icons/theme/shopping/credit-card.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                  <h4>Billing & Payments</h4>
                  <p>Everything you need to know about payments and billing.</p>
                  <div class="d-sm-flex">
                    <ul class="avatar-group">
                      <li>
                        <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-sm">
                      </li>
                      <li>
                        <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                      </li>
                    </ul>
                    <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                      <div>4 articles in this collection</div>
                      <div>Written by&nbsp;<strong>Glenda</strong> and <strong>Joshua</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-3 mb-sm-4">
              <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                <img src="/assets/img/icons/theme/electric/shutdown.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                  <h4>Getting Started</h4>
                  <p>Hit the ground running with our handy guides.</p>
                  <div class="d-sm-flex">
                    <ul class="avatar-group">
                      <li>
                        <img src="/assets/img/avatars/female-3.jpg" alt="Joanne Smith profile image" class="avatar avatar-sm">
                      </li>
                      <li>
                        <img src="/assets/img/avatars/male-2.jpg" alt="Luke Spence profile image" class="avatar avatar-sm">
                      </li>
                    </ul>
                    <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                      <div>4 articles in this collection</div>
                      <div>Written by&nbsp;<strong>Joanne</strong> and <strong>Luke</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-3 mb-sm-4">
              <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                <img src="/assets/img/icons/theme/tools/tools.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                  <h4>Dashboard</h4>
                  <p>Become a dashboard pro with this sequence of lessons.</p>
                  <div class="d-sm-flex">
                    <ul class="avatar-group">
                      <li>
                        <img src="/assets/img/avatars/male-4.jpg" alt="Arnold Jacobs profile image" class="avatar avatar-sm">
                      </li>
                      <li>
                        <img src="/assets/img/avatars/female-4.jpg" alt="Lisa Tucker profile image" class="avatar avatar-sm">
                      </li>
                    </ul>
                    <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                      <div>4 articles in this collection</div>
                      <div>Written by&nbsp;<strong>Arnold</strong> and <strong>Lisa</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-3 mb-sm-4">
              <a href="#" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                <img src="/assets/img/icons/theme/shopping/chart-bar-1.svg" alt="Icon" class="icon icon-lg bg-primary" data-inject-svg>
                <div class="mt-3 mt-sm-4 mt-md-0 ml-md-5 ml-lg-4 ml-xl-5">
                  <h4>Analytics</h4>
                  <p>Get to grips with all that data, these articles will help</p>
                  <div class="d-sm-flex">
                    <ul class="avatar-group">
                      <li>
                        <img src="/assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-sm">
                      </li>
                      <li>
                        <img src="/assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                      </li>
                    </ul>
                    <div class="text-small mt-3 mt-sm-0 ml-sm-3">
                      <div>4 articles in this collection</div>
                      <div>Written by&nbsp;<strong>Glenda</strong> and <strong>Joshua</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col sticky-lg-top">
            <div class="pl-xl-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <h6 class="mb-2">Email Us</h6>
                  <a href="#">hello@jumpstart.io</a>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-2">Call any time</h6>
                  <a href="#">1800 488 328</a>
                </li>
                <li class="list-group-item">
                  <h6 class="mb-2">Get in touch</h6>
                  <a href="contact-1.html">Leave a message</a>
                </li>
              </ul>
              <a href="#" class="btn btn-primary btn-block mt-3 mt-md-4">Open a Suport Ticket</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
export default {
}
</script>
