<template>
  <main>
    <Navbar mode="navbar-dark" position="" />
    <div data-overlay class="bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
      <img src="/assets/img/heros/hero-3.jpg" alt="Background" class="jarallax-img opacity-30">
      <section class="pb-0">
        <div class="container pb-5">
          <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10 col-md-11">
              <a data-fancybox href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle mb-4 mb-md-5" data-aos="zoom-in" data-aos-delay="400">
                <img src="/assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>
              </a>
              <h1 class="display-3" data-aos="fade-up" data-aos-delay="100">Jumpstart your launch</h1>
              <p class="lead" data-aos="fade-up" data-aos-delay="200">
                Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
              <div class="d-flex flex-column flex-sm-row justify-content-center mt-4 mt-md-5" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0">View Demos</a>
                <a href="#" class="btn btn-outline-light btn-lg mx-sm-2 my-1 my-sm-0">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-white"></div>
      </section>
    </div>
    <section>
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Less work, more flow.</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/kyan.svg" alt="Kyan logo" class="mb-4">
              <h5>Kyan Boards</h5>
              <p>
                Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="200">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/atica.svg" alt="Atica logo" class="mb-4">
              <h5>Atica</h5>
              <p>
                Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="300">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/treva.svg" alt="Treva logo" class="mb-4">
              <h5>Treva</h5>
              <p>
                Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="400">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/kanba.svg" alt="Kanba logo" class="mb-4">
              <h5>Kanba</h5>
              <p>
                Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="500">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/tvit.svg" alt="Tvit logo" class="mb-4">
              <h5>Tvit Forms</h5>
              <p>
                Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="600">
            <div class="mx-xl-4">
              <img src="/assets/img/logos/product/aven.svg" alt="Aven logo" class="mb-4">
              <h5>Aven</h5>
              <p>
                Braavos pellentesque nec nam aliquami sem et. In Olenna siglitis fermentum et sollicitudin ac.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-0 bg-primary text-white row no-gutters">
      <div class="col-lg-5 col-xl-6">
        <img src="/assets/img/blog/large-2.jpg" alt="Image" class="w-100 h-100">
        <div class="divider divider-side bg-primary d-none d-lg-block"></div>
      </div>
      <div class="col-lg-7 col-xl-6">
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-xl-9">
                <h3 class="h1">&ldquo;We are working at almost twice the capacity&rdquo;</h3>
                <p class="lead">
                  Non pulvinar neque laoreet suspendisse interdum Catelyn libero id. Olenna imp leo in vitae turpis massa. Sapien habitant Tyrion.
                </p>
                <img class="bg-white opacity-50 mt-3 mt-md-4 mb-3" src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" data-inject-svg>
                <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                  <h6 class="mb-0 mr-2">Harvey Derwent</h6>
                  <span>Resident Zen Master</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Go there with Jumpstart</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <img src="/assets/img/square-1.jpg" alt="Image" class="img-fluid rounded">
              </div>
              <div class="col">
                <h4>Fully Responsive</h4>
                <p>Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <img src="/assets/img/square-2.jpg" alt="Image" class="img-fluid rounded">
              </div>
              <div class="col">
                <h4>Multiple Layouts</h4>
                <p>Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <img src="/assets/img/square-3.jpg" alt="Image" class="img-fluid rounded">
              </div>
              <div class="col">
                <h4>Modular Components</h4>
                <p>Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <img src="/assets/img/square-4.jpg" alt="Image" class="img-fluid rounded">
              </div>
              <div class="col">
                <h4>Suits Your Style</h4>
                <p>Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-9 col-lg-5 mb-4 mb-md-5 mb-lg-0 text-center text-lg-left" data-aos="fade-right">
            <div class="alert bg-secondary rounded-lg d-inline-block mb-4">
              <div class="d-flex align-items-center">
                <div class="badge badge-pill badge-success">New</div>
                <div class="mx-3">Announce a great new feature</div>
              </div>
            </div>
            <h3 class="h1">Feature content from your site’s blog</h3>
            <p class="lead">Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
          </div>
          <div class="col-md-7 col-lg-5 col-xl-4" data-aos="fade-left">
            <div class="card h-100 shadow-lg hover-box-shadow">
              <a href="#" class="d-block bg-gradient rounded-top">
                <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
              </a>
              <div class="card-body">
                <a href="#">
                  <h3>Why social ROI is impossible to measure</h3>
                </a>
                <p>
                  Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                </p>
                <a href="#">Read Story</a>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="#" class="badge badge-pill badge-info">Finance</a>
                <div class="text-small text-muted">July 21st</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light pt-0 o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
            <div data-aos="fade-in" data-aos-offset="250">
              <h2 class="h1">Save tons on design and development</h2>
              <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Fully Responsive</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Modular Components</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Suits Your Style</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1" data-aos="fade-in" data-aos-offset="250">
            <img src="/assets/img/illustrations/illustration-2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center mb-4 mb-md-0">
            <img src="/assets/img/avatars/female-4.jpg" alt="Shelley McNabb avatar image" class="avatar avatar-lg mb-3 mb-md-4">
            <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
                    &ldquo;<mark data-aos="highlight-text" data-aos-delay="200">We cut our build times in half</mark> compared to our previous process. Love it.&rdquo;
                </blockquote>
            <div class="d-flex flex-column align-items-center">
              <h6 class="mb-1">Shelley McNabb</h6>
              <span>Software Engineer</span>
            </div>
          </div>
          <div class="col-md-4 text-center mb-4 mb-md-0">
            <img src="/assets/img/avatars/female-3.jpg" alt="Mary Goddard avatar image" class="avatar avatar-lg mb-3 mb-md-4">
            <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
                    &ldquo;The support team is super helpful. We're so glad to have them on call.&rdquo;
                </blockquote>
            <div class="d-flex flex-column align-items-center">
              <h6 class="mb-1">Mary Goddard</h6>
              <span>Business Relations</span>
            </div>
          </div>
          <div class="col-md-4 text-center mb-4 mb-md-0">
            <img src="/assets/img/avatars/male-2.jpg" alt="Bradley Singleton avatar image" class="avatar avatar-lg mb-3 mb-md-4">
            <blockquote class="blockquote p-0 border-0 text-body pr-xl-4">
                    &ldquo;Reliability is what Jumpstart is known for, and <mark data-aos='highlight-text' data-aos-delay='200'>they've totally delivered</mark> this time.&rdquo;
                </blockquote>
            <div class="d-flex flex-column align-items-center">
              <h6 class="mb-1">Bradley Singleton</h6>
              <span>Keeper of Tunes</span>
            </div>
          </div>
        </div>
      </div>
      <div class="divider position-absolute bottom bg-primary-3"></div>

    </section>
    <section class="bg-primary-3 pb-0">
      <div class="container">
        <div class="text-white">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Get a demo</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-7">
            <div class="card card-body shadow">
              <form data-form-email novalidate action="/forms/request-demo.php">
                <div class="form-group">
                  <label for="demo-name">Your Name</label>
                  <input id="demo-name" name="contact-name" type="text" class="form-control" placeholder="Type here" required>
                  <div class="invalid-feedback">
                    Please type your name.
                  </div>
                </div>
                <div class="form-group">
                  <label for="demo-email">Email Address</label>
                  <input id="demo-email" name="contact-email" type="email" class="form-control" placeholder="you@yoursite.com" required>
                  <div class="invalid-feedback">
                    Please provide your email address.
                  </div>
                </div>
                <div class="form-group">
                  <label for="demo-company-size">Company Size</label>
                  <div class="position-relative">
                    <select class="custom-select" id="demo-company-size" required>
                      <option selected value="">Select an option</option>
                      <option value="1-50">1-50</option>
                      <option value="50-500">50-500</option>
                      <option value="500+">500+</option>
                    </select>
                    <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                    <div class="invalid-feedback">
                      Please provide your company size.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="demo-budget">Approximate Budget</label>
                  <div class="position-relative">
                    <select class="custom-select" id="demo-budget" required>
                      <option selected value="">Select an option</option>
                      <option value="Up to $10k">Up to $10k</option>
                      <option value="$10k - $50k">$10k - $50k</option>
                      <option value="Over $50k">Over $50k</option>
                    </select>
                    <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                    <div class="invalid-feedback">
                      Please provide your approximate budget.
                    </div>
                  </div>
                </div>
                <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <button class="btn btn-primary btn-block btn-loading" type="submit" data-loading-text="Requesting Demo">
                  <!-- Icon for loading animation -->
                  <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Loading</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g>
                        <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                      </g>
                      <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                      fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                    </g>
                  </svg>
                  <span>Request Demo</span>
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
export default {
  head: {
    title: 'Landing Page 2'
  },
  created () {
    if (process.client) {
      this.$InitScript()
    }
  }
}
</script>
