<template>
  <main>
    <Navbar mode="navbar-dark" position="" />
    <div class="bg-gradient o-hidden position-relative" data-overlay>
      <section class="pb-0">
        <div class="container">
          <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 col-xl-5 mb-4 mb-sm-5 mb-lg-0">
              <div class="text-white text-center text-lg-left mb-4 mb-xl-5" data-aos="fade-up">
                <h1 class="display-3">Build fast, launch quickly.</h1>
                <p class="lead">Launch your SaaS in style with this suite of carefully crafted pages and components.
                </p>
              </div>
              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                <div class="m-2" data-aos="fade-up" data-aos-delay="100">
                  <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white">
                    <img src="/assets/img/icons/theme/navigation/route.svg" alt="Binoculars icon" class="icon mr-3 bg-primary" data-inject-svg>
                    <h5 class="mb-0">Fully Responsive</h5>
                  </div>
                </div>
                <div class="m-2" data-aos="fade-up" data-aos-delay="200">
                  <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white">
                    <img src="/assets/img/icons/theme/layout/layout-left-panel-2.svg" alt="Layouts icon" class="icon mr-3 bg-primary" data-inject-svg>
                    <h5 class="mb-0">Multiple Layouts</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-5 col-md-9" data-aos="fade-left" data-aos-delay="250">
              <div class="card card-body shadow-lg">
                <form data-form-email novalidate action="/forms/request-demo.php">
                  <div class="form-group">
                    <label for="demo-name">Your Name</label>
                    <input id="demo-name" name="contact-name" type="text" class="form-control" placeholder="Type here" required>
                    <div class="invalid-feedback">
                      Please type your name.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="demo-email">Email Address</label>
                    <input id="demo-email" name="contact-email" type="email" class="form-control" placeholder="you@yoursite.com" required>
                    <div class="invalid-feedback">
                      Please provide your email address.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="demo-company-size">Company Size</label>
                    <div class="position-relative">
                      <select class="custom-select" id="demo-company-size" required>
                        <option selected value="">Select an option</option>
                        <option value="1-50">1-50</option>
                        <option value="50-500">50-500</option>
                        <option value="500+">500+</option>
                      </select>
                      <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                      <div class="invalid-feedback">
                        Please provide your company size.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="demo-budget">Approximate Budget</label>
                    <div class="position-relative">
                      <select class="custom-select" id="demo-budget" required>
                        <option selected value="">Select an option</option>
                        <option value="Up to $10k">Up to $10k</option>
                        <option value="$10k - $50k">$10k - $50k</option>
                        <option value="Over $50k">Over $50k</option>
                      </select>
                      <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                      <div class="invalid-feedback">
                        Please provide your approximate budget.
                      </div>
                    </div>
                  </div>
                  <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
                    Thanks, a member of our team will be in touch shortly.
                  </div>
                  <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>
                    Please fill all fields correctly.
                  </div>
                  <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                  <button class="btn btn-primary btn-block btn-loading" type="submit" data-loading-text="Requesting Demo">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Request Demo</span>
                  </button>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-white"></div>
      </section>
      <div class="position-absolute w-50 h-50 bottom right" data-jarallax-element="-50">
        <div class="blob blob-3 w-100 h-100 top right bg-white opacity-10"></div>
      </div>
    </div>
    <section class="pb-0 pt-5">
      <div class="container">
        <div class="row justify-content-center py-md-4">
          <div class="col-auto">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0">
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/treva.svg" alt="Treva company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="opacity-50" data-inject-svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="mt-5 mb-0">
          </div>
        </div>
      </div>
    </section>
    <section class="o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
            <div>
              <h2 class="h1 text-center text-lg-left">Here's how we do things differently</h2>
              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                <div class="my-4">
                  <div class="d-flex">
                    <div class="mr-3 mr-md-4">
                      <img src="/assets/img/icons/theme/navigation/route.svg" alt="Binoculars icon" class="icon bg-primary" data-inject-svg>
                    </div>
                    <div>
                      <h5>Fully Responsive</h5>
                      <div>
                        Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque Arya.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-4">
                  <div class="d-flex">
                    <div class="mr-3 mr-md-4">
                      <img src="/assets/img/icons/theme/layout/layout-left-panel-2.svg" alt="Layouts icon" class="icon bg-primary" data-inject-svg>
                    </div>
                    <div>
                      <h5>Multiple Layouts</h5>
                      <div>
                        Non pulvinar neque laoreet suspendisse interdum Catelyn libero id. Olenna imp leo in vitae turpis massa. Sapien habitant Tyrion.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
            <img src="/assets/img/illustrations/illustration-3.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0 o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-xl-5 col-lg-6 col-md-9 text-center text-lg-left mb-5 mb-lg-0">
            <h3 class="h1">Offer potential customers a <mark data-aos="highlight-text" data-aos-delay="200">free
                        sample</mark></h3>
            <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <div class="row">
              <div class="col" data-aos="fade-up" data-aos-delay="100">
                <div class="h2 text-primary mb-2" data-countup data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing=""></div>
                <h6 class="mb-0">User Satisfaction</h6>
              </div>
              <div class="col" data-aos="fade-up" data-aos-delay="200">
                <div class="h2 text-primary mb-2" data-countup data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false"></div>
                <h6 class="mb-0">Support</h6>
              </div>
              <div class="col" data-aos="fade-up" data-aos-delay="300">
                <div class="h2 text-primary mb-2" data-countup data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing=""></div>
                <h6 class="mb-0">Downloads</h6>
              </div>

            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6">
            <div class="card shadow-lg">
              <div class="position-relative">
                <img src="/assets/img/blog/thumb-2.jpg" alt="Image" class="card-img-top">
                <div class="divider bottom position-absolute"></div>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" name="sample-name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="sample-email" placeholder="Email Address">
                  </div>
                  <button class="btn btn-primary btn-block" type="submit">Download Free Sample</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">It worked for them</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-offset="250">
          <div class="col-xl-10 col-lg-11">
            <div class="buttons-attached" data-flickity='{ &quote;imagesLoaded&quote;: true, &quote;wrapAround&quote;:true, &quote;pageDots&quote;:false }'>
              <div class="carousel-cell">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <div class="position-relative bg-gradient col-lg-4">
                    <img class="card-img-top h-100" src="/assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
                    <div class="divider divider-side d-none d-lg-block"></div>
                  </div>
                  <div class="p-4 p-md-5 col-lg">
                    <div class="p-lg-4">
                      <blockquote class="blockquote p-0 border-0 text-body">
                &ldquo;We had all sorts of problems around motivation and productivity from our smallest scrums to our largest teams. <mark data-aos="highlight-text" data-aos-delay="200">Jumpstart helped us rise above all and conquer.</mark>&rdquo;
            </blockquote>
                      <img class="opacity-50 mt-3 mt-md-4 mb-3" src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" data-inject-svg>
                      <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                        <h6 class="mb-0 mr-2">Harvey Derwent</h6>
                        <span>Resident Zen Master</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <div class="position-relative bg-gradient col-lg-4">
                    <img class="card-img-top h-100" src="/assets/img/case-studies/thumb-9.jpg" alt="Image accompanying Kanba testimonial">
                    <div class="divider divider-side d-none d-lg-block"></div>
                  </div>
                  <div class="p-4 p-md-5 col-lg">
                    <div class="p-lg-4">
                      <blockquote class="blockquote p-0 border-0 text-body">
                &ldquo;We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps. Fear not, Jumpstart does away with all of that.&rdquo;
            </blockquote>
                      <img class="opacity-50 mt-3 mt-md-4 mb-3" src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" data-inject-svg>
                      <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                        <h6 class="mb-0 mr-2">Shelley McNabb</h6>
                        <span>Software Engineer</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                  <div class="position-relative bg-gradient col-lg-4">
                    <img class="card-img-top h-100" src="/assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
                    <div class="divider divider-side d-none d-lg-block"></div>
                  </div>
                  <div class="p-4 p-md-5 col-lg">
                    <div class="p-lg-4">
                      <blockquote class="blockquote p-0 border-0 text-body">
                &ldquo;Product support comes first when we are considering a new service.  Do yourself a favour and choose Jumpstart, we have found the support to be second to none.&rdquo;
            </blockquote>
                      <img class="opacity-50 mt-3 mt-md-4 mb-3" src="/assets/img/logos/brand/treva.svg" alt="Treva company logo" data-inject-svg>
                      <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                        <h6 class="mb-0 mr-2">Mary Goddard</h6>
                        <span>Business Relations</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light o-hidden pt-0">
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pr-lg-5 pr-xl-0">
            <div>
              <h2 class="h1">Save tons on design and development</h2>
              <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Fully Responsive</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Modular Components</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Suits Your Style</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="/assets/img/illustrations/illustration-2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary-3 text-white pb-0 jarallax" data-jarallax data-speed="0.75">
      <img src="/assets/img/heros/hero-3.jpg" alt="Hero" class="jarallax-img opacity-30">
      <div class="container min-vh-40 d-flex flex-column justify-content-center">
        <div class="row justify-content-center text-center text-sm-left">
          <div class="col d-flex flex-column flex-sm-row justify-content-center align-items-center">
            <a data-fancybox href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle" data-aos="zoom-in" data-aos-delay="400">
              <img src="/assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>
            </a>
            <div class="h1 mb-0 mt-4 mt-sm-0 ml-sm-4" data-aos="fade-up">&ldquo;They changed the game&rdquo;</div>
          </div>
        </div>
      </div>
      <div class="divider divider-bottom bg-primary"></div>
    </section>
    <section class="bg-primary">
      <div class="container">
        <div class="text-white">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Scales with your business</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body align-items-center shadow">

              <div class="text-center mb-4">
                <h4>Basic</h4>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <span class="h5 mb-0 mr-2">$</span>
                  <span class="display-3 mb-0 text-dark">19</span>
                </div>
                <div>Per user, per month</div>
              </div>
              <ul class="list-unstyled p-0">
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">2GB Cloud Storage</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">100GB CDN Bandwidth</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">98.88% Uptime Guarantee</h6>
                  </div>
                </li>
                <li class="my-3 opacity-50">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-danger-alt">
                      <img src="/assets/img/icons/interface/icon-x.svg" alt=" icon=" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                  </div>
                </li>
                <li class="my-3 opacity-50">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-danger-alt">
                      <img src="/assets/img/icons/interface/icon-x.svg" alt=" icon=" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn-lg btn-block btn-outline-primary">Start with Basic</a>
            </div>
          </div>
          <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="card card-body align-items-center shadow">
              <div class="badge badge-success badge-pill mb-4">Best Value</div>
              <div class="text-center mb-4">
                <h4>Premium</h4>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <span class="h5 mb-0 mr-2">$</span>
                  <span class="display-3 mb-0 text-dark">29</span>
                </div>
                <div>Per user, per month</div>
              </div>
              <ul class="list-unstyled p-0">
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">20GB Cloud Storage</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">1TB CDN Bandwidth</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">99.95% Uptime Guarantee</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                  </div>
                </li>
                <li class="my-3 opacity-50">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-danger-alt">
                      <img src="/assets/img/icons/interface/icon-x.svg" alt=" icon=" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn-lg btn-block btn-primary">Start with Premium</a>
            </div>
          </div>
          <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="card card-body align-items-center shadow">

              <div class="text-center mb-4">
                <h4>Pro</h4>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <span class="h5 mb-0 mr-2">$</span>
                  <span class="display-3 mb-0 text-dark">79</span>
                </div>
                <div>Per user, per month</div>
              </div>
              <ul class="list-unstyled p-0">
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Unlimited Storage</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">100TB CDN Bandwidth</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">99.999% Uptime Guarantee</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                  </div>
                </li>
                <li class="my-3">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn-lg btn-block btn-outline-primary">Start with Pro</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-0 bg-primary">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div id="faq-accordion">
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">Can I upgrade later on?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre. Vivamus ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio. Vivamus in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra.
                    In imperdiet eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum. Donec eu commodo nunc. Mauris dignissim lectus massa, eget cursus quam mollis id. Eddard sit amet ex Jon nibh maximus cursus at vitae mi. Duis tincidunt
                    aliquam mi sed sagittis.

                  </div>
                </div>
              </div>
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">Can I port my data from another provider?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Eunuch nec dapibus ex. Aenean placerat, ex imp convallis dictum, ex nulla rutrum justo, Jon lobortis nisi ex at leo. Sed Tyrion aliquet sem vel pharetra. Vestibulum ante ipsum primis in faucibus Hodor luctus et ultrices posuere cubilia Curae; Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis a sapien quis quam auctor feugiat. Donec volutpat condimentum risus, eu iaculis nibh dapibus eu.

                  </div>
                </div>
              </div>
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">Are my food photos stored forever in the cloud?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Volantisi fringilla, unuch eu sagittis sagittis, urna Loras luctus odio, vitae hendrerit massa dui ac est. Donec leo tortor, Tyrion et aliquet at, convallis imp mi. Vivamus turpis diam, ultrices et tempus quis, sollicitudin et risus. Pellentesque nec
                    sapien imp dolor condimentum condimentum ut sed neque. Integer efficitur accumsan risus, vitae posuere massa aliquam at.

                  </div>
                </div>
              </div>
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">Who foots the bill for that?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Khaleesi ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio. Vivamus in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra. In imperdiet eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum. Donec
                    eu commodo nunc. Vivamus Melisandre Jon lorem eget bibendum. Sed tincidunt sed enim at dignissim. Mauris erat diam, lacinia eget efficitur et, iaculis sed augue.

                  </div>
                </div>
              </div>
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">What's the real cost?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-5" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis unuch consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.
                    Tincidunt vitae libero efficitur viverra. Integer venenatis massa in dui viverra fermentum. Eunuch fringilla arcu ac urna sodales fermentum. Ut luctus enim ut sagittis consectetur.

                  </div>
                </div>
              </div>
              <div class="card mb-2 mb-md-3">
                <a href="#accordion-6" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 mr-2">Can my company request a custom plan?</h6>
                    <img src="/assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-6" data-parent="#faq-accordion">
                  <div class="px-3 px-md-4 pb-3 pb-md-4">
                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis unuch consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row justify-content-center mt-4 mt-md-5">
          <div class="col-auto">
            <div class="alert text-white links-white bg-white-alt">Is there something we didn't cover here? <a href="#">Get
                        in touch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider divider-bottom bg-primary-3"></div>
    </section>

    <Footer />
  </main>
</template>

<script>
export default {
  head: {
    title: 'Landing Page 4'
  },
  created () {
    if (process.client) {
      this.$InitScript()
    }
  }
}
</script>
