<template>
  <main>
    <Navbar mode="navbar-light" position="position-fixed" />
    <section class="pb-0 o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left flex-lg-row-reverse">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pr-lg-5 pr-xl-0">
            <div data-aos="fade-in" data-aos-delay="250">
              <h1 class="display-3">Build <mark data-aos="highlight-text" data-aos-delay="500">snappy landing</mark> pages</h1>
              <p class="lead">Launch your SaaS in style with this suite of carefully crafted pages and components.
              </p>
              <div class="mt-4 mt-md-5">

                <form class="d-flex flex-column">
                  <input class="form-control h-100" type="text" name="get-started-name" placeholder="Your Name">
                  <input class="form-control h-100 my-3" type="email" name="get-started-email" placeholder="Email Address">
                  <button class="btn btn-primary flex-shrink-0" type="submit">Create your account</button>
                  <div class="custom-control custom-checkbox mt-3">
                    <input type="checkbox" class="custom-control-input" id="get-started-agree-1">
                    <label class="custom-control-label text-small" for="get-started-agree-1">I agree to the Terms & Conditions</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-6" data-aos="fade-left">
            <img src="/assets/img/illustrations/illustration-1.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="pb-0 pt-5">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-auto">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0">
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/aven.svg" alt="Aven company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/treva.svg" alt="Treva company logo" class="opacity-50" data-inject-svg>
              </li>
              <li class="my-3 mx-3 mx-lg-4">
                <img src="/assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="opacity-50" data-inject-svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="divider divider-bottom bg-primary-3 mt-5"></div>
    </section>
    <section class="bg-primary-3 text-white">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Take flight with Jumpstart</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col d-flex flex-wrap justify-content-center">
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/navigation/route.svg" alt="Binoculars icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Fully Responsive</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/layout/layout-left-panel-2.svg" alt="Layouts icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Multiple Layouts</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/shopping/box-2.svg" alt="Box icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Modular Components</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/general/thunder-move.svg" alt="Lightning icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Suits Your Style</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/general/bookmark.svg" alt="Bookmark icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Well Documented</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/design/select.svg" alt="Selection interface icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Highly Customizable</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/general/fire.svg" alt="Fire icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Saves You Time</h5>
              </div>
            </div>
            <div class="m-2 text-dark">
              <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                <img src="/assets/img/icons/theme/food/sushi.svg" alt="Sushi icon" class="icon mr-3 bg-primary" data-inject-svg>
                <h5 class="mb-0">Delicious Stuff</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="o-hidden">
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
            <div>
              <div class="alert bg-secondary rounded-lg d-inline-block mb-4">
                <div class="d-flex align-items-center">
                  <div class="badge badge-pill badge-success">New</div>
                  <div class="mx-3">Announce a great new feature</div>
                </div>
              </div>
              <h3 class="h1">Everything you’ll need to launch your site</h3>
              <p class="lead">Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
              <a href="#" class="lead">Explore More</a>
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="/assets/img/illustrations/illustration-2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="o-hidden pt-0">
      <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
          <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
            <div>
              <h2 class="h1">Save tons on design and development</h2>
              <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Fully Responsive</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Modular Components</h6>
                </div>
              </div>
              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success-alt">
                    <img src="/assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                  </div>
                  <h6 class="mb-0 ml-3">Suits Your Style</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
            <img src="/assets/img/illustrations/illustration-3.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary-3 text-white jarallax pb-0" data-jarallax data-speed="0.2">
      <img src="/assets/img/heros/hero-1.jpg" alt="Image" class="jarallax-img opacity-50">
      <div class="container pb-5">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-7">
            <blockquote class="blockquote p-0 border-0 text-white">
                    &ldquo;We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps. Fear not, Jumpstart does away with all of that.&rdquo;
                </blockquote>
            <img class="bg-white opacity-50 mt-3 mt-md-4 mb-3" src="/assets/img/logos/brand/kanba.svg" alt="Kanba company logo" data-inject-svg>
            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
              <h6 class="mb-0 mr-2">Shelley McNabb</h6>
              <span>Software Engineer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="divider divider-bottom bg-white"></div>
    </section>
    <section>
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Stay in the loop</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <a href="#" class="d-block bg-gradient rounded-top">
                <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-4.jpg" alt="blog.4.image">
              </a>
              <div class="card-body">
                <a href="#">
                  <h3>It's not just about the clicks. Here's why</h3>
                </a>
                <p>
                  Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                </p>
                <a href="#">Read Story</a>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                <div class="text-small text-muted">August 8th</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <a href="#" class="d-block bg-gradient rounded-top">
                <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-5.jpg" alt="blog.5.image">
              </a>
              <div class="card-body">
                <a href="#">
                  <h3>Why social ROI is impossible to measure</h3>
                </a>
                <p>
                  Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                </p>
                <a href="#">Read Story</a>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="#" class="badge badge-pill badge-info">Finance</a>
                <div class="text-small text-muted">July 21st</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <a href="#" class="d-block bg-gradient rounded-top">
                <img class="card-img-top hover-fade-out" src="/assets/img/blog/thumb-8.jpg" alt="blog.6.image">
              </a>
              <div class="card-body">
                <a href="#">
                  <h3>Breathing new life into a tired UI</h3>
                </a>
                <p>
                  Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                </p>
                <a href="#">Read Story</a>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="#" class="badge badge-pill badge-danger">Design</a>
                <div class="text-small text-muted">June 30th</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary-3 text-white o-hidden pb-0">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Customers are lovin’ it</h3>
            <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
          </div>
        </div>
      </div>
      <div class="highlight-selected" data-flickity='{ &quote;imagesLoaded&quote;: true, &quote;wrapAround&quote;:true, &quote;pageDots&quote;:false, &quote;adaptiveHeight&quote;:true, &quote;autoPlay&quote;:3000 }'>
        <div class="carousel-cell col-xl-7 col-md-8">
          <div class="row align-items-center justify-content-start justify-content-sm-center mx-3 mx-xl-4">
            <div class="col-sm-auto mb-4 mb-sm-0">
              <img class="img-fluid avatar avatar-xl" src="/assets/img/avatars/male-4.jpg" alt="Harvey Derwent avatar image">
            </div>
            <div class="col pl-lg-4">
              <h4 class="h2">&ldquo;We are working at almost twice the capacity&rdquo;</h4>
              <p>
                We had all sorts of problems around motivation and productivity from our smallest scrums to our largest teams. Jumpstart helped us rise above all and conquer.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-cell col-xl-7 col-md-8">
          <div class="row align-items-center justify-content-start justify-content-sm-center mx-3 mx-xl-4">
            <div class="col-sm-auto mb-4 mb-sm-0">
              <img class="img-fluid avatar avatar-xl" src="/assets/img/avatars/male-1.jpg" alt="Harvey Derwent avatar image">
            </div>
            <div class="col pl-lg-4">
              <h4 class="h2">&ldquo;Jumpstart increases productivity.&rdquo;</h4>
              <p>
                We had all sorts of problems around motivation and productivity from our smallest scrums to our largest teams.
                <mark data-aos="highlight-text" data-aos-delay="200">Jumpstart helped us rise above all and conquer.</mark>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-cell col-xl-7 col-md-8">
          <div class="row align-items-center justify-content-start justify-content-sm-center mx-3 mx-xl-4">
            <div class="col-sm-auto mb-4 mb-sm-0">
              <img class="img-fluid avatar avatar-xl" src="/assets/img/avatars/female-4.jpg" alt="Shelley McNabb avatar image">
            </div>
            <div class="col pl-lg-4">
              <h4 class="h2">&ldquo;Long build times are a thing of the past!&rdquo;</h4>
              <p>
                We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps. Fear not, Jumpstart does away with all of that.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-cell col-xl-7 col-md-8">
          <div class="row align-items-center justify-content-start justify-content-sm-center mx-3 mx-xl-4">
            <div class="col-sm-auto mb-4 mb-sm-0">
              <img class="img-fluid avatar avatar-xl" src="/assets/img/avatars/female-3.jpg" alt="Mary Goddard avatar image">
            </div>
            <div class="col pl-lg-4">
              <h4 class="h2">&ldquo;Top notch support on-call? Yes please.&rdquo;</h4>
              <p>
                Product support comes first when we are considering a new service. Do yourself a favour and choose Jumpstart, we have found the support to be second to none.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-cell col-xl-7 col-md-8">
          <div class="row align-items-center justify-content-start justify-content-sm-center mx-3 mx-xl-4">
            <div class="col-sm-auto mb-4 mb-sm-0">
              <img class="img-fluid avatar avatar-xl" src="/assets/img/avatars/male-2.jpg" alt="Bradley Singleton avatar image">
            </div>
            <div class="col pl-lg-4">
              <h4 class="h2">&ldquo;Jumpstart gives us total peace of mind.&rdquo;</h4>
              <p>
                Living up to their reputation for support and reliablity, Jumpstart has delivered once again on all fronts. Any bugs we find are dealt with promptly.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute w-50 h-100 top right" data-jarallax-element="100 48">
        <div class="blob blob-2 w-100 h-100 top right bg-gradient opacity-50"></div>
      </div>
      <div class="divider divider-bottom bg-white"></div>
    </section>
    <section>
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Jumpstart your launch</h3>
            <div class="lead">Get started immediately, no credit card required</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-7">

            <form class="d-flex flex-column">
              <input class="form-control h-100" type="text" name="get-started-name" placeholder="Your Name">
              <input class="form-control h-100 my-3" type="email" name="get-started-email" placeholder="Email Address">
              <button class="btn btn-primary flex-shrink-0" type="submit">Create your account</button>
              <div class="custom-control custom-checkbox mt-3">
                <input type="checkbox" class="custom-control-input" id="get-started-agree-2">
                <label class="custom-control-label text-small" for="get-started-agree-2">I agree to the Terms & Conditions</label>
              </div>
            </form>
            <div class="mt-3 text-center text-small text-muted">
              Free 14 day trial &bull; No set-up costs &bull; Cancel any time
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light p-0 row no-gutters">
      <div class="col-sm-4">
        <div class="h-100 border-top border-left border-thick border-white p-3 p-xl-4">
          <div class="p-3 p-md-5">
            <div class="display-4 text-dark mb-3" data-countup data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing="">
            </div>
            <div>Average satisfaction rating received in the past year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="h-100 border-top border-left border-thick border-white p-3 p-xl-4">
          <div class="p-3 p-md-5">
            <div class="display-4 text-dark mb-3" data-countup data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false">
            </div>
            <div>Our support experts are ready to assist anytime</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="h-100 border-top border-left border-thick border-white p-3 p-xl-4">
          <div class="p-3 p-md-5">
            <div class="display-4 text-dark mb-3" data-countup data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing="">
            </div>
            <div>App installs from the two major mobile app stores</div>
          </div>
        </div>
      </div>

    </section>

    <Footer />
  </main>
</template>

<script>
export default {
  head: {
    title: 'Landing Page 3'
  },
  created () {
    if (process.client) {
      this.$InitScript()
    }
  }
}
</script>
