<template>
  <section class="p-0">
    <section class="bg-gradient text-white p-0 o-hidden">
      <div class="container min-vh-100 d-flex flex-column justify-content-center text-center py-5 py-md-5">
<!--        <a href="index.html" class="fade-page">-->
<!--          <img src="/assets/img/logos/jumpstart.svg" alt="Jumpstart" class="bg-white" data-inject-svg>-->
<!--        </a>-->
        <div class="my-5">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h1 class="display-3">Under Maintenance</h1>
              <div class="lead">The site is currently down for maintenance.</div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
              <form data-form-email novalidate action="/forms/mailchimp.php">
<!--                <div class="d-flex flex-column flex-sm-row form-group">-->
<!--                  <input class="form-control form-control-lg mr-sm-2 mb-2 mb-sm-0 h-100" name="email" placeholder="Email Address" type="email" required>-->
<!--                  <button class="btn btn-lg btn-primary btn-loading" type="submit" data-loading-text="Sending">-->
<!--                    &lt;!&ndash; Icon for loading animation &ndash;&gt;-->
<!--                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
<!--                      <title>Icon For Loading</title>-->
<!--                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                        <g>-->
<!--                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>-->
<!--                        </g>-->
<!--                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"-->
<!--                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>-->
<!--                      </g>-->
<!--                    </svg>-->
<!--                    <span>Subscribe</span>-->
<!--                  </button>-->
<!--                </div>-->
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
                <div class="text-muted">We apologize for any inconviences caused We've almost done.</div>
              </form>
            </div>
          </div>
        </div>
<!--        <div>-->
<!--          <a href="index.html" class="btn btn-sm btn-outline-light fade-page">Back to Overview</a>-->
<!--        </div>-->
      </div>
      <div class="blob blob-3 w-50 h-50 bg-white opacity-10 top right"></div>
      <div class="blob blob-4 w-25 h-25 bg-white opacity-10 bottom left"></div>
    </section>
  </section>
</template>

<script>
export default {
  head: {
    title: 'Maintenance',
    meta: [
      // hid is used as unique identifier. Do not use `vmid` for it as it will not work
      { name: 'description', content: 'Tiket Online Museum Nasional Indonesia' },
      // google search engine
      // { itemprop: 'name', content: ''},
      // { itemprop: 'desc', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning`},
      // { itemprop: 'image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}`},
      // facebook
      { hid: 'og:title', property: 'og:title', content: 'Tiket Online Museum Nasional Indonesia' },
      { hid: 'og:url',property: 'og:url', content: `${process.env.BASE_URL}`},
      { hid: 'og:site_name',property: 'og:site_name', content: 'Museum Nasional' },
      { hid: 'og:description',property: 'og:description', content: 'Tiket Online Museum Nasional Indonesia' },
      { hid: 'og:image',property: 'og:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
      // twitter
      { property: 'twitter:title', content: 'Mall Edukasi Indonesia' },
      { property: 'twitter:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
      { property: 'twitter:url', content: `${process.env.BASE_URL}` },
      { property: 'twitter:card', content: '' },
    ],
  },
}
</script>
