<template>
  <div>
    <div class="bg-gradient p-0 o-hidden" data-overlay>
      <section class="pb-0">
        <div class="container">
          <div class="text-white">
            <div class="row section-title justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
<!--                <h1 class="display-3">We’re here to help</h1>-->
                <div class="lead">{{booking_title}}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
              <client-only>
                <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                  <form class="card card-body shadow" @submit.prevent="handleSubmit(onSubmit)">
                    <div>
                      <h5 class="mb-4">{{$t("booking.identitas_pemesan")}}</h5>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Nama">{{$t("booking.nama_pemesan")}}</label>
                            <input v-model="user.name" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.name.length > 0 ? 'is-valid' : '' ]" id="Nama" :placeholder="$t('booking.p_nama_anda')">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col-sm-6">
                        <ValidationProvider rules="required|email" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Email">{{$t("booking.alamat_email")}}</label>
                            <input v-model="user.email" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.email.length > 0 ? 'is-valid' : '' ]" id="Email" :placeholder="$t('booking.p_email')">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
<!--                        <div class="form-group">-->
<!--                          <label for="planner-email">Email Address</label>-->
<!--                          <input type="email" name="contact-email" class="form-control" id="planner-email" placeholder="you@website.com" required>-->
<!--                          <div class="invalid-feedback">-->
<!--                            Please provide your email address.-->
<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Instansi">{{$t("booking.instansi")}}</label>
                            <input v-model="user.agency" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.agency.length > 0 ? 'is-valid' : '' ]" id="Instansi" :placeholder="$t('booking.p_instansi')">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Kota">{{$t("booking.kota")}}</label>
                            <input v-model="user.city" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.city.length > 0 ? 'is-valid' : '' ]" id="Kota" :placeholder="$t('booking.p_kota')">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Tanggal">{{$t("booking.tanggal")}}</label>
                            <flat-pickr v-model="user.schedule_date" type="text" data-flatpickr data-alt-input="true" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.schedule_date.length > 0 ? 'is-valid' : '' ]" id="Tanggal" placeholder="August 31, 2020 12:00 PM"></flat-pickr>
                            <span class="invalid-feedback">{{ errors[0] }}</span>
<!--                            <input v-model="user.date" type="text" data-flatpickr data-alt-input="true" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.date.length > 0 ? 'is-valid' : '' ]" id="Tanggal" placeholder="August 31, 2020 12:00 PM">-->
<!--                            <input type="text" class="form-control" data-flatpickr data-alt-input="true" placeholder="Select a date">-->
<!--                            <input type="text" class="form-control" data-flatpickr data-enable-time="true" data-alt-input="true" placeholder="Select date and time">-->

                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Shift">Shift</label>
                            <div class="position-relative">
                              <!--                            <input v-model="user.instansi" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.instansi.length > 0 ? 'is-valid' : '' ]" id="Instansi" placeholder="Instansi Anda">-->
                              <select name="Shift" v-model="user.schedule_time" :class="[{'req-validate': errors.length > 0, 'custom-select': true}, errors.length > 0 ? 'is-invalid' : user.schedule_time.length > 0 ? 'is-valid' : '' ]" id="Shift">
                                <option select value="">{{$t("booking.pilih_shift")}}</option>
                                <option value="09:00">09.00</option>
                                <option value="13:00">13.00</option>
                              </select>
                              <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                              <span class="invalid-feedback">{{ errors[0] }}</span>
                            </div>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="mt-4">
                      <h5 class="mb-2">{{$t("booking.daftar_peserta")}}</h5>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Kategori">{{$t("booking.kategori")}}</label>
                            <div class="position-relative">
<!--                            <input v-model="user.instansi" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.instansi.length > 0 ? 'is-valid' : '' ]" id="Instansi" placeholder="Instansi Anda">-->
                              <select name="Kategori" v-model="user.category" :class="[{'req-validate': errors.length > 0, 'custom-select': true}, errors.length > 0 ? 'is-invalid' : user.category.length > 0 ? 'is-valid' : '' ]" id="Kategori">
                                  <option select value="">{{$t("booking.pilih_category")}}</option>
<!--                                  <div>-->
                                    <option v-for="(cat, index) in listCategory" :key="index" :value="cat.name">{{cat.name}} - {{currencyFormat2(cat.price, 'Rp ')}}</option>
<!--                                    <option value="SMP">SMP - Rp. 2.000</option>-->
<!--                                    <option value="SMA">SMA - Rp. 2.000</option>-->
<!--                                    <option value="Mahasiswa">Mahasiswa - Rp. 5.000</option>-->
<!--                                    <option value="Dewasa">Dewasa - Rp. 5.000</option>-->
<!--                                  </div>-->
<!--                                <div>-->
<!--                                  <option value="Foreign">Foreign - Rp. 10.000</option>-->
<!--                                </div>-->

                                </select>
                            <img src="/assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                              </div>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col-sm-6">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="Jumlah Tiket">{{$t("booking.jumlah_tiket")}}</label>
                            <input v-model="user.jml_tiket" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.jml_tiket.length > 0 ? 'is-valid' : '' ]" id="Jumlah Tiket" placeholder="0">
                            <span class="invalid-feedback">{{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="d-flex flex-column flex-wrap flex-md-row justify-content-between align-items-center">
                      <!--                  <div class="custom-control custom-checkbox mb-3 mb-md-0">-->
                      <!--                    <input type="checkbox" class="custom-control-input" id="planner-agree" required>-->
                      <!--                    <label class="custom-control-label" for="planner-agree">I agree to the <a target="_blank" href="utility-legal-terms.html">Terms &amp; Conditions</a>-->
                      <!--                    </label>-->
                      <!--                    <div class="invalid-feedback">-->
                      <!--                      You must agree to the Terms and Conditions.-->
                      <!--                    </div>-->
                      <!--                  </div>-->
<!--                      <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>-->
<!--                        Thanks, a member of our team will be in touch shortly.-->
<!--                      </div>-->
<!--                      <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>-->
<!--                        Please fill all fields correctly.-->
<!--                      </div>-->
<!--                      <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>-->
                      <button type="submit" class="btn btn-primary mb-3 mb-md-0" >
                        <div class="d-flex align-items-center">
                          <img src="/assets/img/icons/interface/icon-plus.svg" alt="Icon" class="icon bg-white" data-inject-svg>
                          <span>{{$t("booking.tambah_peserta")}}</span>
                        </div>
                      </button>
                      <a @click="pembayaran" href="javascript:void(0)" class="btn btn-primary" :class="{'disabled': listOrder.length === 0}">{{$t("booking.pembayaran")}}</a>
<!--                      <a @click="test" href="javascript:void(0)" class="btn btn-info" disabled="disabled">-->
<!--                        <div class="d-flex align-items-center">-->
<!--                          <span>Pembayaran test</span>-->
<!--&lt;!&ndash;                         <img src="/assets/img/icons/interface/icon-shopping-cart.svg" alt="Icon" class="icon bg-white" data-inject-svg>&ndash;&gt;-->
<!--                        </div>-->
<!--                      </a>-->
<!--                      <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">-->
<!--                        &lt;!&ndash; Icon for loading animation &ndash;&gt;-->
<!--                        <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
<!--                          <title>Icon For Loading</title>-->
<!--                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                            <g>-->
<!--                              <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>-->
<!--                            </g>-->
<!--                            <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"-->
<!--                                  fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>-->
<!--                          </g>-->
<!--                        </svg>-->
<!--                        <span>Tambah Peserta</span>-->
<!--                      </button>-->
                    </div>
                    <div class="mt-5">
                      <div class="pricing-table-section text-center text-lg-left">
                        <div class="row no-gutters">
                          <div class="col">
                            <h5 class="mb-4">{{$t("booking.daftar_peserta")}}</h5>
                          </div>
                        </div>
                        <div class="border rounded">
                          <!--                      HEADER-->
                          <div v-if="listOrder.length === 0" class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-12 d-flex justify-content-center py-3 py-md-4">
                              <span>{{$t("booking.peserta_masih_kosong")}}</span>
                            </div>
                          </div>
                          <div v-else class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-3 py-3 py-md-4">
                              <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">No</h6>
                              </div>
                            </div>
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <span>{{$t("booking.kategori")}}</span>

                            </div>
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <span>{{$t("booking.jumlah_tiket")}}</span>

                            </div>
<!--                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->
<!--                              <span></span>-->
<!--                            </div>-->
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <div class="rounded-circle bg-danger-alt">
<!--                                <a href="#" class="btn btn-sm btn-primary">Small</a>-->
                              </div>
                            </div>
                          </div>
                          <div v-for="(dataList, index) in listOrder" class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-3  py-3 py-md-4">
                              <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">{{index+1}}</h6>
                              </div>
                            </div>
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <span>{{dataList.category}}</span>
                            </div>
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <span>{{dataList.jml_tiket}}</span>
                            </div>
                            <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                              <div class="rounded-circle bg-danger-alt">
                                <a @click="hapusPeserta(index)" href="javascript:void(0)" class="btn btn-sm btn-danger">Hapus</a>
                              </div>
                            </div>
                          </div>
                          <!--                      <div class="row no-gutters align-items-center">-->
                          <!--                        <div class="col-12 col-lg-3  py-3 py-md-4">-->
                          <!--                          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">-->
                          <!--                            <h6 class="mb-0 ml-lg-4">Restricted Access</h6>-->
                          <!--                            <div class="ml-2 tooltip-circle bg-dark text-white" data-toggle="tooltip" title="Here's a tooltip to help explain this feature">?</div>-->
                          <!--                          </div>-->
                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->

                          <!--                          <div class="rounded-circle bg-danger-alt">-->
                          <!--                            <img src="/assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>-->
                          <!--                          </div>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->
                          <!--                          <span>Enhanced</span>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->
                          <!--                          <span>Custom</span>-->

                          <!--                        </div>-->
                          <!--                      </div>-->
                          <!--                      <div class="row no-gutters align-items-center">-->
                          <!--                        <div class="col-12 col-lg-3  py-3 py-md-4">-->
                          <!--                          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">-->
                          <!--                            <h6 class="mb-0 ml-lg-4">Code Export</h6>-->
                          <!--                          </div>-->
                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->

                          <!--                          <div class="rounded-circle bg-danger-alt">-->
                          <!--                            <img src="/assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>-->
                          <!--                          </div>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->

                          <!--                          <div class="rounded-circle bg-success-alt">-->
                          <!--                            <img src="/assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>-->
                          <!--                          </div>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->

                          <!--                          <div class="rounded-circle bg-success-alt">-->
                          <!--                            <img src="/assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>-->
                          <!--                          </div>-->

                          <!--                        </div>-->
                          <!--                      </div>-->
                          <!--                      <div class="row no-gutters align-items-center">-->
                          <!--                        <div class="col-12 col-lg-3  py-3 py-md-4">-->
                          <!--                          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">-->
                          <!--                            <h6 class="mb-0 ml-lg-4">Project Transfers</h6>-->
                          <!--                            <div class="ml-2 tooltip-circle bg-dark text-white" data-toggle="tooltip" title="Here's a tooltip to help explain this feature">?</div>-->
                          <!--                          </div>-->
                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->

                          <!--                          <div class="rounded-circle bg-danger-alt">-->
                          <!--                            <img src="/assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>-->
                          <!--                          </div>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->
                          <!--                          <span>Unlimited</span>-->

                          <!--                        </div>-->
                          <!--                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">-->
                          <!--                          <span>Unlimited</span>-->

                          <!--                        </div>-->
                          <!--                      </div>-->
                        </div>
                      </div>
                    </div>
                  </form>
                </ValidationObserver>
              </client-only>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-white"></div>
      </section>
    </div>
<!--    <section>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center text-center">-->
<!--          <div class="col-md-auto" data-aos="fade-up">-->
<!--            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">-->
<!--              <h5>Email us</h5>-->
<!--              <a href="#" class="lead">hello@jumpstart.io</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">-->
<!--              <h5>Drop in</h5>-->
<!--              <address>-->
<!--                <p>443 Park Avenue South,</p>-->
<!--                <p>Kips Bay</p>-->
<!--                <p>New York City</p>-->

<!--              </address>-->
<!--              <a href="#">Get Directions</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">-->
<!--              <h5>Call any time</h5>-->
<!--              <a href="#" class="lead">1800 488 328</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
  </div>
</template>

<script>
  // import DatePicker from 'vue2-datepicker';
  // import 'vue2-datepicker/index.css';
  import flatPickr from 'vue-flatpickr-component';
  import 'flatpickr/dist/flatpickr.css';
  // localization is optional
  import {Hindi} from 'flatpickr/dist/l10n/hi.js';
export default {
  // layout: 'true-layout',
  head: {
    title: 'Booking',
    // meta: [
    //   // hid is used as unique identifier. Do not use `vmid` for it as it will not work
    //   { name: 'description', content: 'Tiket Online Museum Nasional Indonesia' },
    //   // google search engine
    //   // { itemprop: 'name', content: ''},
    //   // { itemprop: 'desc', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning`},
    //   // { itemprop: 'image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}`},
    //   // facebook
    //   { hid: 'og:title', property: 'og:title', content: 'Tiket Online Museum Nasional Indonesia' },
    //   { hid: 'og:url',property: 'og:url', content: `${process.env.BASE_URL}`},
    //   { hid: 'og:site_name',property: 'og:site_name', content: 'Museum Nasional' },
    //   { hid: 'og:description',property: 'og:description', content: 'Tiket Online Museum Nasional Indonesia' },
    //   { hid: 'og:image',property: 'og:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
    //   // twitter
    //   { property: 'twitter:title', content: 'Mall Edukasi Indonesia' },
    //   { property: 'twitter:image', content: `http://cdn.museumnasional.or.id/assets/files/images/musnas.jpg` },
    //   { property: 'twitter:url', content: `${process.env.BASE_URL}` },
    //   { property: 'twitter:card', content: '' },
    // ],
  },
  components: {
    flatPickr
  },
  data: () => ({
    listCategory: [{
          name: 'PAUD-TK',
          price: 2000
        },
        {
          name: 'SD',
          price: 2000
        },
    ],
    date: new Date(),
    // Get more form https://flatpickr.js.org/options/
    config: {
      wrap: true, // set wrap to true only when using 'input-group'
      altFormat: 'M j, Y',
      altInput: true,
      dateFormat: 'Y-m-d',
      locale: Hindi, // locale for this instance only
    },
    listOrder: [],
    user: {
      name: '',
      email: '',
      agency: '',
      city: '',
      category: '',
      jml_tiket: '',
      schedule_date: '',
      schedule_time: '',
    }
  }),
  // async fetch ({ params, store }) {
  //     await store.dispatch('order/listCategory', store.state.i18n.ticket_type)
  // },
  computed: {
    p_nama_anda(){
      if (process.client){
        return this.$t("booking.nama_anda")
      }
    },
    booking_title(){
      if (process.client){
        return this.$t("booking.title_booking")
      }
    },
    setUser(){
      this.listOrder = [
        {
          kategori: 'SD',
          jml_tiket: 10
        },
        {
          kategori: 'SMA',
          jml_tiket: 10
        },
        {
          kategori: 'Dewasa',
          jml_tiket: 2
        },
        {
          kategori: 'Mahasiswa',
          jml_tiket: 5
        },
      ]
    },
  },
  methods: {
    totalPayment(){
      let total = 0
      this.listOrder.forEach(element => {
        total += element.jml_tiket * element.price
      })
      return total
    },
    async pembayaran(){
      const inv_no = this.generateInvoice()
      const order_no = this.generateOrder(this.$store.state.i18n.ticket_type)
      await this.$store.dispatch('order/orderTicket', {
        name: this.user.name,
        email: this.user.email,
        agency: this.user.agency,
        city: this.user.city,
        schedule_date: this.user.schedule_date,
        schedule_time: this.user.schedule_time,
        list_ticket:  this.listOrder,
        invoice_no: inv_no,
        order_no: order_no,
        price: this.totalPayment(),
        citizenship: this.$store.state.i18n.citizenship,
        booking_no: this.$store.state.i18n.booking_no,
        country_id: this.$store.state.i18n.country_id,
        ticket_type: this.$store.state.i18n.ticket_type,
      })
      .then((res) => {
        // Booking no already used
        this.$nuxt.$router.push('/invoice/'+order_no)
      })
      // console.log(this.totalPayment())
    },
    hapusPeserta(idx){
      this.listOrder.splice(idx, 1);
    },
    async onSubmit() {
      this.listOrder.push({
        category_id: this.categoryId(this.user.category).id,
        price: this.categoryId(this.user.category).price,
        category: this.user.category,
        jml_tiket: this.user.jml_tiket,
      })
      this.user.jml_tiket = this.user.category = ''
      this.$refs.form.reset();
      // const data = {
      //   id: this.encData.id,
      //   email: this.encData.email,
      //   new_password: this.password,
      // }
      // await this.$store.dispatch('users/resetPasswordUsers', data)
      //   .then(res => {
      //     $('#confirmation-modal').modal('show');
      //   })
    },
  },
  created () {
    if (process.client) {
      this.$InitScript(this)
      this.$i18n.locale = this.$store.state.i18n.locale
    }
  },
  async beforeMount () {
    const cat = await this.$store.dispatch('order/listCategory', this.$store.state.i18n.ticket_type)
    // await this.$store.dispatch('order/listCategory', this.$store.state.i18n.ticket_type)
    // console.log(this.$store.state.i18n.citizenship)
    // this.listCategory.filter(cat => cat.name === 'Foreign');
    if (this.$store.state.i18n.citizenship === 'domestic'){
      this.listCategory = cat.filter(a => a.name !== 'Foreign')
    }else{
      this.listCategory = cat.filter(a => a.name === 'Foreign')
    }
    // console.log(this.$store.state.i18n.booking_no)
    // console.log(this.$store.state.i18n.country_id)
    // console.log(this.$store.state.i18n.ticket_type)
  }
}
</script>
