<template>
  <div class="navbar-container">
    <!--
      MODE: navbar-light / navbar-dark / keep it empty
      POSITION: position-fixed
    -->
    <nav class="navbar navbar-expand-lg" data-overlay data-sticky="top" :class="[mode, position]">
      <div class="container">
        <nuxt-link :to="{ name: 'index' }" class="navbar-brand navbar-brand-dynamic-color fade-page">
<!--          <img alt="Jumpstart" data-inject-svg src="/assets/img/logos/jumpstart.svg">-->
        </nuxt-link>
        <div class="d-flex align-items-center order-lg-3">
          <a href="/" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Buy Jumpstart</a>
          <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg src="/assets/img/icons/interface/icon-menu.svg">
            <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg src="/assets/img/icons/interface/icon-x.svg">
          </button>
        </div>
        <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
          <ul class="navbar-nav my-3 my-lg-0">
<!--            <li class="nav-item">-->
<!--              <div class="dropdown">-->
<!--                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Demos</a>-->
<!--                <div class="row dropdown-menu">-->
<!--                  <div class="col-auto" data-dropdown-content>-->
<!--                    <div class="dropdown-grid-menu">-->
<!--                      <nuxt-link to="/" class="dropdown-item fade-page">Overview</nuxt-link>-->
<!--                      <nuxt-link to="landing-1" class="dropdown-item fade-page">Landing 1</nuxt-link>-->
<!--                      <nuxt-link to="landing-2" class="dropdown-item fade-page">Landing 2</nuxt-link>-->
<!--                      <nuxt-link to="landing-3" class="dropdown-item fade-page">Landing 3</nuxt-link>-->
<!--                      <nuxt-link to="landing-4" class="dropdown-item fade-page">Landing 4</nuxt-link>-->
<!--                      <nuxt-link to="landing-5" class="dropdown-item fade-page">Landing 5</nuxt-link>-->
<!--                      <nuxt-link to="landing-6" class="dropdown-item fade-page">Landing 6</nuxt-link>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <div class="dropdown">-->
<!--                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Pages</a>-->
<!--                <div class="row dropdown-menu">-->
<!--                  <div class="col-auto" data-dropdown-content>-->
<!--                    <div class="dropdown-grid-menu">-->
<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'company' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Company</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/company/company-about-1" class="dropdown-item fade-page">About 1</nuxt-link>-->
<!--                              <nuxt-link to="/company/company-about-2" class="dropdown-item fade-page">About 2</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'blog' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Blog</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/blog/blog-listing-1" class="dropdown-item fade-page">Blog Listing 1</nuxt-link>-->
<!--                              <nuxt-link to="/blog/blog-listing-2" class="dropdown-item fade-page">Blog Listing 2</nuxt-link>-->
<!--                              <nuxt-link to="/blog/blog-listing-3" class="dropdown-item fade-page">Blog Listing 3</nuxt-link>-->
<!--                              <nuxt-link to="/blog/blog-article" class="dropdown-item fade-page">Blog Article</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'help' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Help Center</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/help/help-center-home" class="dropdown-item fade-page">Help Center Home</nuxt-link>-->
<!--                              <nuxt-link to="/help/help-center-category" class="dropdown-item fade-page">Help Center Category</nuxt-link>-->
<!--                              <nuxt-link to="/help/help-center-article" class="dropdown-item fade-page">Help Center Article</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'careers' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Careers</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/careers/careers-1" class="dropdown-item fade-page">Careers 1</nuxt-link>-->
<!--                              <nuxt-link to="/careers/careers-2" class="dropdown-item fade-page">Careers 2</nuxt-link>-->
<!--                              <nuxt-link to="/careers/career-single" class="dropdown-item fade-page">Career Single</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'case-studies' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Case Studies</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/case-studies/case-studies" class="dropdown-item fade-page">Case Studies</nuxt-link>-->
<!--                              <nuxt-link to="/case-studies/case-study-single" class="dropdown-item fade-page">Case Study Single</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'pricing' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Pricing</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/pricing/pricing-plans" class="dropdown-item fade-page">Pricing Plans</nuxt-link>-->
<!--                              <nuxt-link to="/pricing/pricing-table" class="dropdown-item fade-page">Pricing Table</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'contact' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Contact</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/contact/contact" class="dropdown-item fade-page">Contact</nuxt-link>-->
<!--                              <nuxt-link to="/contact/contact-map" class="dropdown-item fade-page">Contact Map</nuxt-link>-->
<!--                              <nuxt-link to="/contact/contact-planner" class="dropdown-item fade-page">Contact Planner</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'account-settings' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Account</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/account/account-settings" class="dropdown-item fade-page">Account Settings</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-invoice" class="dropdown-item fade-page">Invoice</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-sign-up-cover" class="dropdown-item fade-page">Sign Up - Cover</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-sign-in-cover" class="dropdown-item fade-page">Sign In - Cover</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-sign-up-simple" class="dropdown-item fade-page">Sign Up - Simple</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-sign-in-simple" class="dropdown-item fade-page">Sign In - Simple</nuxt-link>-->
<!--                              <nuxt-link to="/account/account-forgot-password" class="dropdown-item fade-page">Forgot Password</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="dropdown">-->
<!--                        <nuxt-link :to="{ name: 'utility' }" aria-expanded="false" aria-haspopup="true" class="dropdown-item" data-toggle="dropdown-grid" role="button">Utility</nuxt-link>-->
<!--                        <div class="row dropdown-menu">-->
<!--                          <div class="col-auto" data-dropdown-content>-->
<!--                            <div class="dropdown-grid-menu">-->
<!--                              <nuxt-link to="/utility/utility-coming-soon-subscribe" class="dropdown-item fade-page">Coming Soon Subscribe</nuxt-link>-->
<!--                              <nuxt-link to="/utility/utility-coming-soon-countdown" class="dropdown-item fade-page">Coming Soon Countdown</nuxt-link>-->
<!--                              <nuxt-link to="/utility/utility-coming-soon-social" class="dropdown-item fade-page">Coming Soon Social</nuxt-link>-->
<!--                              <nuxt-link to="/utility/utility-legal-terms" class="dropdown-item fade-page">Legal Terms</nuxt-link>-->
<!--                              <nuxt-link to="/utility/utility-404" class="dropdown-item fade-page">404</nuxt-link>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <div class="dropdown">-->
<!--                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Features</a>-->
<!--                <div class="row dropdown-menu">-->
<!--                  <div class="col-auto" data-dropdown-content>-->
<!--                    <div class="dropdown-grid-menu">-->
<!--                      <a href="/guide/style-guide.html" class="dropdown-item fade-page">Style Guide</a>-->
<!--                      <a href="/guide/plugins.html" class="dropdown-item fade-page">Plugins</a>-->
<!--                      <a href="/guide/navigation-bars.html" class="dropdown-item fade-page">Navigation Bars</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <div class="dropdown">-->
<!--                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">Support</a>-->
<!--                <div class="row dropdown-menu">-->
<!--                  <div class="col-auto" data-dropdown-content>-->
<!--                    <div class="dropdown-grid-menu">-->
<!--                      <a href="/documentation/index.html" class="dropdown-item" target="_blank">Documentation</a>-->
<!--                      <a href="/documentation/changelog.html" class="dropdown-item" target="_blank">Changelog</a>-->
<!--                      <a href="https://mediumrare.ticksy.com/" class="dropdown-item" target="_blank">Get Help</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
            <li class="nav-item">
              <div class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid" href="#" role="button">{{bahasa}}</a>
                <div class="row dropdown-menu">
                  <div class="col-auto" data-dropdown-content>
                    <div class="dropdown-grid-menu">
<!--                      <a href="/documentation/index.html" class="dropdown-item" target="_blank">Documentation</a>-->
                      <a @click="eng" href="javascript:void(0)" class="dropdown-item" :class="{'active' : this.$store.state.i18n.locale === 'en'}">Bahasa Inggris</a>
                      <a @click="ind" href="javascript:void(0)" class="dropdown-item" :class="{'active' : this.$store.state.i18n.locale === 'id'}">Bahasa Indonesia</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: ''
    },
    position: {
      type: String,
      default: ''
    },
  },
  mounted() {
    this.$InitScript(this)
    // this.$i18n.locale = this.$store.state.i18n.locale
    // this.bahasa = this.$t("lang.bahasa")
    // console.log(this.$store.state.i18n.locale + 'from navbar')
  },
  computed: {
    bahasa() {
      if (process.client){
        return this.$t("lang.bahasa")
      }
    },
  },
  methods: {
    eng() {
      if (this.$store.state.i18n.locale !== 'en'){
        this.$store.commit('i18n/setEnglish', 'en')
        // this.$router.go()
      }
    },
    ind() {
      if (this.$store.state.i18n.locale !== 'id'){
        this.$store.commit('i18n/setIndonesia', 'id')
        // this.$router.go()
      }
    },
  }
}
</script>
