<template>
  <div>
    <section class="bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <div class="card card-body shadow-lg">
              <div class="d-flex justify-content-between align-items-start pb-4 pb-md-5 mb-4 mb-md-5 border-bottom">
                <div>
                  <h6>Museum Nasional Indonesia </h6>
                  <address>
                    <p>Jl. Medan Merdeka Barat No.12,</p>
                    <p>Gambir</p>
                    <p>Daerah Khusus Ibukota Jakarta</p>

                  </address>
                  <a href="#">Museum.nasional@kemendikbud.go.id</a>
                </div>
                <img src="~assets/img/logos/musnas.jpg" class="logos" alt="Jumpstart Logo">
              </div>
              <div class="mb-4">
                <h1>Ticket Invoice <span :class="[{'badge' : true}, badgeStatus]">{{this.$store.state.order.detailOrder.payment_status.toUpperCase()}}</span></h1>
              </div>
              <div class="row justify-content-between mb-4 mb-md-5">
                <div class="col-sm">
                  <h6>Invoice to:</h6>
                  <div>
                    <div>{{this.$store.state.order.detailOrder.name}}</div>
                    <div>{{this.$store.state.order.detailOrder.agency}}</div>
                    <address>
                      {{this.$store.state.order.detailOrder.email}}
  <!--                    382 Harrington Road,-->
  <!--                    <br />Paramatta NSW 3928-->
                    </address>
                  </div>
                </div>
                <div class="col-sm col-lg-6">
                  <dl class="row text-sm-right">
                    <dt class="col-6"><strong>Invoice No.</strong>
                    </dt>
                    <dd class="col-6">{{$route.params.id}}</dd>
                    <dt class="col-6"><strong>Date Order:</strong>
                    </dt>
                    <dd class="col-6">{{ $moment($store.state.order.detailOrder.order_date).format('DD MMM YYYY') }}</dd>
                    <dt class="col-6"><strong>Date Schedule:</strong>
                    </dt>
                    <dd class="col-6">{{ $moment($store.state.order.detailOrder.schedule_date).format('DD MMM YYYY') }}</dd>
                    <dt class="col-6"><strong>Terms</strong>
                    </dt>
                    <dd class="col-6">1 Days</dd>
                  </dl>
                </div>
              </div>
              <div>
                <table class="table mb-0 text-right">
                  <thead class="bg-light border-top">
                  <tr>
                    <th scope="col" class="border-0 text-left">
                      Item
                    </th>
                    <th scope="col" class="border-0">
                      Quantity
                    </th>
                    <th scope="col" class="border-0">
                      Rate
                    </th>
                    <th scope="col" class="border-0">
                      Total
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(order) in $store.state.order.detailOrder.list_ticket">
                    <th scope="row" class="text-left">
                      {{order.name}}
                    </th>
                    <td>
                      {{order.total}}
                    </td>
                    <td>
                      {{currencyFormat2(order.rate, 'Rp. ')}}
                    </td>
                    <td>
                      {{currencyFormat2(order.total_price, 'Rp. ',)}}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-end text-right mb-4 py-4 border-bottom">
                  <div>
                    <div>Balance due:</div>
                    <div class="h4 mb-0 mt-2">{{currencyFormat2(totalPayment, 'Rp. ')}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="text-small">
                      <div>Payments to:</div>
                      <div><strong>payment@museumnasional.or.id</strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-right">
                    <button @click="backToHome" type="submit" class="btn btn-primary mb-3 mb-md-0" >
                      <div class="d-flex align-items-center">
                        <!--                      <img src="/assets/img/icons/interface/icon-plus.svg" alt="Icon" class="icon bg-white" data-inject-svg>-->
                        <span>Pesan lagi</span>
                      </div>
                    </button>
                    <button v-if="this.$store.state.order.detailOrder.payment_status === 'pending'" @click="payNow" type="submit" class="btn btn-primary mb-3 mb-md-0" >
                      <div class="d-flex align-items-center">
  <!--                      <img src="/assets/img/icons/interface/icon-plus.svg" alt="Icon" class="icon bg-white" data-inject-svg>-->
                        <span>Bayar Sekarang</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--          <div class="modal-content text-center">-->
<!--            <div class="modal-header border-0 pb-0">-->
<!--              <div class="w-100 pt-4">-->
<!--                <div class="d-inline-block mb-4 p-3 p-md-4 rounded-circle bg-primary-alt">-->
<!--                  <img src="/assets/img/icons/theme/communication/readed-mail.svg" alt="Confirmation Icon" class="icon bg-primary" data-inject-svg="data-inject-svg">-->
<!--                </div>-->
<!--              </div>-->
<!--              <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">-->
<!--                  <img src="/assets/img/icons/interface/icon-x.svg" alt="Icon">-->
<!--                </span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">-->
<!--              <h5 class="h3">Payment Success</h5>-->
<!--              <div>We have just sent further instructions about your payment to <strong>{{this.$store.state.order.detailOrder.email}}</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </section>
    <section v-if="this.$store.state.order.detailOrder.payment_status === 'paid'" class="bg-primary text-white">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Terima Kasih</h3>
            <div class="lead">Terima kasih telah memesan tiket museum nasional indonesia disini</div>
          </div>
        </div>
        <div class="row justify-content-center">
<!--          <div class="col d-flex flex-wrap justify-content-center">-->
<!--            <div class="m-2">-->
<!--              <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">-->
<!--                <img src="/assets/img/avatars/male-3.jpg" alt="Brandon Pliskin avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">-->
<!--                <div class="text-dark mb-0">&ldquo;Porting in to-->
<!--                  <mark>Jumpstart is a breeze.</mark>&rdquo;</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="m-2">-->
<!--              <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">-->
<!--                <img src="/assets/img/avatars/female-4.jpg" alt="Ashley Mance avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">-->
<!--                <div class="text-dark mb-0">&ldquo;Jumpstart is a dream come true.&rdquo;</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="m-2">-->
<!--              <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">-->
<!--                <img src="/assets/img/avatars/male-4.jpg" alt="Mike Vandels avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">-->
<!--                <div class="text-dark mb-0">&ldquo;This company always turns out quality.&rdquo;</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="m-2">-->
<!--              <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">-->
<!--                <img src="/assets/img/avatars/male-5.jpg" alt="Deiter Bohn avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">-->
<!--                <div class="text-dark mb-0">&ldquo;Jumpstart is, well...-->
<!--                  <mark>It's pretty great.</mark>&rdquo;</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="m-2">-->
<!--              <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">-->
<!--                <img src="/assets/img/avatars/female-5.jpg" alt="Shelley Canning avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">-->
<!--                <div class="text-dark mb-0">&ldquo;Put your money into this company now.&rdquo;</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col d-flex flex-wrap justify-content-center">
            <client-only>
            <qrcode :value="$store.state.order.detailOrder.order_no" :options="{ width: 300 }"></qrcode>
            </client-only>
          </div>
        </div>
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7 mt-4">
<!--            <h3 class="display-4">Terima Kasih</h3>-->
            <div class="lead">Go Green by Museum Nasional Indonesia</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  // layout: 'true-layout',
  head: {
    title: 'Museum Nasional | Payment'
  },
  data: () => ({
    listUser: [],
    user: {
      name: '',
      email: '',
      instansi: '',
      kota: '',
      kategori: '',
      payment_status: 'PENDING',
      qrcode: 'Museum Nasional Indonesia'
    }
  }),
  // async asyncData (context) {
  //   const listData = await context.$axios.get(`web/invoice/invoice-no=${context.params.id}`)
  //   // console.log(listData.data)
  //   return {
  //   	listData: listData.data,
  //   }
  // },
  async fetch({store, params}){
    // console.log(params)
    await store.dispatch('order/getDetailOrder', params.id)
      // console.log()
  },
  computed: {
    badgeStatus(){
      switch (this.$store.state.order.detailOrder.payment_status) {
        case 'pending':
          return 'badge-info';
        case 'paid':
          return 'badge-success';
        case 'expired':
          return 'badge-danger';
      }
    },
    setUser(){
      this.listUser = [
        {
          name: 'Dadang Pengkolan',
          email: 'dadang@gmail.com'
        },
        {
          name: 'Ricky Harus',
          email: 'ricky@gmail.com'
        },
        {
          name: 'John Doe',
          email: 'john@gmail.com'
        },
        {
          name: 'Didi Rumapea',
          email: 'didi@gmail.com'
        },
        {
          name: 'Nindya Pramesti',
          email: 'nindya@gmail.com'
        },
      ]
    },
    totalPayment(){
      let total = 0
      this.$store.state.order.detailOrder.list_ticket.forEach(element => {
        total += element.total_price
      })
      return total
    }
  },
  methods: {
    backToHome(){
      this.$nuxt.$router.push('/')
    },
    test(){
      // console.log(this.$store.state.order)
      $('#confirmation-modal').modal('show');
      this.user.payment_status = 'SUCCESS'
    },
    async payNow(){
      window.open(this.$store.state.order.detailOrder.payment_url, '_blank')
      // if (this.listData.data.length !== 0){
      //
      // }else{
      //
      // }
      // $('#confirmation-modal').modal('show');
      // console.log(this.$store.state.order)

      // this.user.payment_status = 'SUCCESS'
      // $('#confirmation-modal').modal('show');
      // this.user.payment_status = 'SUCCESS'
      // window.location.href = 'https://checkout-staging.xendit.co/web/5f70c45358ab834051b56ba5';
    },
  },
  created () {
    if (process.client) {
      this.$InitScript(this)
    }
  },
  created () {
    // console.log(this.$store.state.order.detailOrder)
    // console.log(this.listData.data[0])
    // console.log(this.user.name)
    // console.log(this.$store.state.order.detailOrder)
  }
}
</script>

<style scoped>
  .logos{
    height: 120px;
  }
</style>
